[2018-10-29 15:42] joschi opened #2 "Fix repository description"
The repository description on GitHub and the stub README currently say: "Javascript SDK for CloudEvents"

Given the name of the repository (sdk-java) and the first PR (#1), I guess that it should be "Java SDK for CloudEvents".

[2018-11-07 08:40] matzew commented on #2
@joschi yes, I saw that too. unfortunately I am not able to change that.

@duglin can you fix the GH repo description ?

[2018-11-07 09:08] matzew opened #3 "Enable Travis CI build"
Hi @duglin

I am not able to enable the build on Travis CI for this project.

Can you either do that or grant me the right permission for this repo?

Link to travis:
https://travis-ci.org/organizations/cloudevents/repositories

[2018-11-07 12:12] duglin commented on #2
Fixed!

[2018-11-07 12:12] #2 closed

[2018-11-07 13:13] matzew opened #5 "Kafka transport"
based on PR https://github.com/cloudevents/spec/pull/337, we could introduce a `kafka` module here, that helps to encode/decode the `CloudEvent` class over Kafka, using Headers for the attributes, and using the `key/value` of the message for the CloudEvents `data`

We did already do some prototype a couple of month ago:

https://github.com/rh-event-flow/jcloudevents/blob/master/kafka/src/main/java

[2018-11-07 13:41] matzew opened #6 "Maven Central Publish"
For maven projects they typically release their bits (`JAR` files) to Maven Central.

Proposal is to use the `io.cloudevents` package name.

We need to do a JIRA at the Sonatype OSSRH JIRA intance:
https://issues.sonatype.org/browse/OSSRH

In there we identify a few settings for permission:

* **Group Id:** io.cloudevents
* **Project URL:** https://cloudevents.io/
* **SCM url:** https://github.com

[2018-11-07 13:42] matzew commented on #6
@duglin @caniszczyk  does one of you have some thoughts on that ?

[2018-11-09 02:10] duglin commented on #3
I think it's done now - give it a try

[2018-11-09 02:33] matzew commented on #6
I could say I own it, in a sense that would say „cncf owns it. code is
written/published on cncf‘s behalf „ sorta...

i guess other foundations might haven gone through that too

On Fri 9. Nov 2018 at 03:23, Doug Davis <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-11-09 02:34] matzew commented on #6
others might have own maven infra :-)

On Fri 9. Nov 2018 at 03:33, Matthias Wessendorf <matzew@apache.org> wrote:

--
Sent from Gmail Mobile

[2018-11-09 02:35] duglin commented on #6
I'd be ok with trying that ;-)

[2018-11-09 02:36] matzew commented on #6
ok. will do that

On Fri 9. Nov 2018 at 03:35, Doug Davis <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-11-09 02:48] matzew commented on #6
@duglin thanks for advice, here is the JIRA issue:
https://issues.sonatype.org/browse/OSSRH-43972

[2018-11-09 02:55] matzew commented on #3
Thank you, sir!

see our first cI build: https://travis-ci.org/cloudevents/sdk-java/builds/452697047

closing this :tada:

[2018-11-09 02:55] #3 closed

[2018-11-09 02:58] matzew commented on #6
@duglin @caniszczyk

here is the reply from Sonatype:
[code]

[2018-11-09 03:08] duglin commented on #6
Not sure what they mean by a redirect. On our cloudevent.io web page we do point to https://github.com/cloudevents and https://cloudevents.github.io/ redirects to cloudevents.io

[2018-11-09 20:45] matzew commented on #6
@duglin JIRA fixed/solved

/close

[2018-11-09 20:45] #6 closed

[2018-12-12 23:03] djkevincr commented on #5
@matzew As per https://github.com/cloudevents/spec/pull/337 proposed NATS, AMQP etc as bindings. I would like make a contribution on this.

[2019-01-03 15:40] dturanski opened #29 "ZonedDateTime field limits interoperability"
Currently the `time` field is a `ZonedDateTime`. This requires a custom deserializer `ZonedDateTimeDeserializer` implemented with jackson.  Sending a CloudEvent via http then causes problems on the receiving end.  IMHO It would be better to represent time with a more portable type, e.g., long.

[2019-01-05 01:00] tenczar commented on #29
The CloudEvent spec defines the `time` field as a RFC 3339 timestamp. All of the sdks read/write this format because it contains enough information to fully identify what time is being represented. Using a long strips the timestamp of necessary timezone information. Why not use the sdk on both the producer and consumer?

[2019-01-07 10:57] matzew commented on #29
Hi, just returning from the holiday break. It seems to be a limitation on GSON itself:

https://github.com/google/gson/issues/1059#issuecomment-292623118

Looks like a custom `TypeAdapter` is needed ? :disappointed:

[2019-01-07 13:31] dturanski commented on #29
I think it's more a limitation of JSON itself. Any Java deserializer will need custom configuration if, e.g., a type does not have a default constructor.  Jackson requires `ZonedDateTimeDeserializer` and GSON requires the corresponding thing.  This makes `DefaultCloudEventImp` less usable.  Would it be possible to represent time as a more JSON friendly value object that validates  RFC 3339?

[2019-01-07 15:33] matzew commented on #29
I think we could try that - it's IMO a PITA that we face this limitation
:-(

On Mon, Jan 7, 2019 at 2:38 PM David Turanski <notifications@github.com>
wrote:

--
Matthias Wessendorf

github: https://github.com/matzew
twitter: http://twitter.com/mwessendorf

[2019-01-07 18:36] matzew opened #30 "AMQP 1.0 transport"
We should start evaluating to add AMQP 1.0 support, e.g. using Apache QPid's proton-j lib.

[2019-02-26 12:17] maiconmattos opened #31 "When adding a extension to a builder it is not being serialized to the message"
https://github.com/cloudevents/sdk-java/blob/c85c691ea63516bfc7920ad4289ec1b6e267be4e/api/src/main/java/io/cloudevents/impl/DefaultCloudEventImpl.java#L36

When building a cloudEvent like below :
[code]

The extension is not being serialized when creating the json event.

[2019-02-27 18:09] maiconmattos commented on #31
Something like that could be implemented at DefaultCloudEventImpl to support Json serialization for extension values
[code]

[2019-02-28 11:32] tarunrathor-pro commented on #31
I also waiting for this issue to be addressed.

[2019-03-05 17:03] maiconmattos opened #32 "Spec defines field names following lowercase convention but when serializing to json it generates camelCase fieldNames"
Spec defines field names following lowercase convention :
https://github.com/cloudevents/spec/blob/v0.2/spec.md#specversion

But when serializing to json it generates camelCase fieldNames.

Possible solution :
@JsonNaming(LowerCaseStrategy.class)
public class DefaultCloudEventImpl<T> implements CloudEvent<T>, Serializable {

Also, no unit test for Json serialization.

[2019-03-08 21:12] razorcd opened #33 "Backwards compatibility future plans"
Thank you for this great library. We have integrated CloudEvents in our system already and would like to start using this library too.

There were some breaking changes between v0.1 and v0.2 in the CloudEvents specs and I see that at the moment `cloudevents/sdk-java` is backwards compatible. ([example](https://github.com/cloudevents/sdk-java/blob/master/api/src/main/java/io/cloudevents/impl/Defaul

[2019-06-06 07:30] pajoma commented on #31
Any news on this? We need the extensions as well.

[2019-06-09 08:02] gunnarmorling opened #36 "Change CloudEvent#getExtensions() to return <List<Extension>>"
The current return value `Optional<List<Extension>>` makes this a bit more verbose to use than needed. I'd suggest to simply return `List<Extension>>`; if there are none, simply return an empty list. I can provide a PR unless there are objections / CC @matzew.

[2019-06-09 12:41] matzew commented on #36
sure

On Sun 9. Jun 2019 at 10:02, Gunnar Morling <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-06-25 09:30] jmaister commented on #31
What is the reason to remove "eventTypeVersion" and "extensions" ? They are part of the event.

    @JsonIgnoreProperties(value = { "eventTypeVersion", "extensions" }) // was removed from 0.1

[2019-07-02 07:19] michaelandrepearce opened #38 "JMS Adaptor"
Is there an adaptor/wrapper for JMS client, thus allowing easy plug and play with existing MoM solutions that support topics, without the need to make an adaptor for each specific one?

[2019-07-03 19:45] arichiardi commented on #31
We have also run against the problem and worked around a solution with a custom Jackson attribute, unfortunately this is not really ideal and we are looking into a better way.

[2019-07-04 19:06] razkevich commented on #31
We have found an easy workaround for this. So instead of doing this:

[code]

we do this:

[code]

[2019-07-17 09:01] Raytan commented on #32
Meet the same issue: I use fastjson which uses getters list to set the key name of json map.
Is there a reason why use lowercase instead of camelCase?

[2019-07-19 08:29] mhyeon-lee opened #39 "Support CloudEvents Spec 0.3"
I wonder if java-sdk will support the CloudEvents 0.3 spec.

[2019-07-20 18:42] linux-china commented on #39
* contenttype” attribute has been renamed to “datacontenttype
* Add subject attribute

If possible,  Java SDK could add extension constants in https://github.com/cloudevents/spec/tree/master/extensions  by default?

[2019-07-22 09:18] micheleangioni commented on #32
Hi guys,
we are facing the same issue, which is causing us troubles.
@matzew @jponge @fabiojose could you please take a look?

Thanks.

[2019-07-25 06:49] hanoisteve commented on #39
So what is the status on this?

[2019-07-25 08:22] hanoisteve opened #40 "Until Spec 0.3 support is available?"
Any suggestions on what do until 0.3 support is in place? What changes do we need to make. Also is it possible to use. https://github.com/protocolbuffers/protobuf/blob/master/java/util/src/main/java/com/google/protobuf/util/JsonFormat.java. ?

[2019-08-13 21:22] fabiojose commented on #32
@micheleangioni  Job done!

What do you think about to perform a code review?

PR #42

[2019-08-14 13:18] #32 closed

[2019-08-15 13:00] fabiojose commented on #36
Hi @gunnarmorling

When we have the PR #43 merged, you will be able to do this:

[code]

[2019-08-16 12:32] #31 closed

[2019-08-16 12:33] matzew opened #44 "fabiojose as new committer"
Hi, @duglin

can we add @fabiojose as committer here ?

Thanks

[2019-08-16 15:15] duglin commented on #44
I think he already is. I see him as a member of the sdk-maintainers group.  @fabiojose are you not able to merge stuff?

[2019-08-16 15:35] fabiojose commented on #44
@duglin, I checked right now and I have!

Thanks, mattes!

[2019-08-16 15:35] #44 closed

[2019-08-19 17:52] cwallsfdc opened #45 "[snyk] Deserialization of Untrusted Data Affecting com.fasterxml.jackson.core:jackson-databind artifact, versions [,2.9.9.3)"
Is there a process to resolve snyk raised vulnerabilities?

How to merge/PR the following snyk addressed PR?

https://github.com/cloudevents/sdk-java/pull/41

@fabiojose

Thank you!

[2019-08-28 12:13] fabiojose opened #46 "Did not found io.cloudevents.http.reactivex.vertx.*"
There is an import import `io.cloudevents.http.reactivex.vertx.VertxCloudEvents;` in the `VertxCloudEventsTests`, but I did not found.

Am I right?

[2019-08-29 19:00] avgcastillo commented on #39
@matzew do you know if there is active work on this topic, does this project need some help from new contributors?

[2019-09-03 23:18] #46 closed

[2019-09-25 18:25] fabiojose commented on #39
Done in the PR https://github.com/cloudevents/sdk-java/pull/49

Waiting for the release.

[2019-09-25 18:26] fabiojose commented on #40
Done in the PR https://github.com/cloudevents/sdk-java/pull/49

Waiting for the release.

[2019-09-25 18:26] fabiojose commented on #5
Done the PR https://github.com/cloudevents/sdk-java/pull/49

Let's close this?

[2019-09-25 18:30] matzew commented on #5
/close

On Wed, Sep 25, 2019 at 8:26 PM Fabio José <notifications@github.com> wrote:

--
Matthias Wessendorf

github: https://github.com/matzew
twitter: http://twitter.com/mwessendorf

[2019-09-27 09:51] salaboy opened #50 "Snapshots repositories not in readme"
Currently the README.md points to version 0.3.0 which is not available in Maven Central.
I am assuming that there is a snapshot or nightly build repo where 0.3.0 can be found,
it will be great to add that in the readme.

In the mean time can someone point me to that repository?

[2019-09-27 18:05] MartyTremblay opened #54 "Kafka Producer Factory"
I'm trying to decide on whether a kafka producer factory would be helpful for the SDK? For now, I'll implement CloudEventsKafkaProducerFactory for my project but I can imagine that this could be useful for others.

[2019-09-27 18:40] gunnarmorling commented on #54
Hey @MartyTremblay, can you elaborate a bit? How would that factory look like and how would it be used?

[2019-09-30 15:21] fabiojose commented on #5
This is the docs about Kafka Transport Binding: https://github.com/cloudevents/sdk-java/blob/master/kafka/README.md

[2019-09-30 15:21] #5 closed

[2019-09-30 15:21] fabiojose commented on #40
Available in the version 0.3.0

[2019-09-30 15:21] #40 closed

[2019-09-30 15:23] fabiojose commented on #36
Available in version 0.3.0

[2019-09-30 15:23] #36 closed

[2019-09-30 15:24] fabiojose commented on #39
Released!

Now available in version 0.3.0

[2019-09-30 15:24] #39 closed

[2019-09-30 15:25] fabiojose commented on #50
@salaboy

We are facing problems to release to maven central.

Now the version is already there: https://search.maven.org/search?q=g:io.cloudevents

[2019-09-30 15:25] #50 closed

[2019-09-30 15:28] fabiojose commented on #33
At this moment all SDKs are working in version 1.0.0

After this milestone, we have plans to release versions with almost no break compatibility.

But until there, breaking is inevitable.

At this moment we released version 0.3.0, that is incompatible with releases before.

[2019-09-30 15:30] fabiojose commented on #38
@michaelandrepearce No.

There is a discussion in the CNCF CloudEvents slack around this support.

Join us!

[2019-09-30 15:35] fabiojose commented on #29
@dturanski Any insights on that?

[2019-09-30 16:15] fabiojose commented on #45
@cwallsfdc We have another one with the latest version of Jackson.

Fixed in PR #58

[2019-09-30 16:15] #45 closed

[2019-09-30 16:15] dturanski commented on #29
I would go with a String representation  of the ISO-8601 standard.  `ZonedDateTime.now( ZoneOffset.UTC ).format( DateTimeFormatter.ISO_INSTANT )`   This will make the date-time portable.  It requires the application to parse it, e.g., `ZonedDateTime.parse(zdtAsString)`.

[2019-10-02 15:52] fabiojose opened #60 "Support for Spec v1.0"
Spec v1.0 is coming, now should be the time to start the implementation.

[2019-10-08 13:04] gee4vee opened #63 "NPE unmarshalling an event"
I'm using Spring for REST and trying to unmarshall an event coming in with this code snippet:

[code]

I get these headers and body:
[code]

And I get this NPE. Am I doing something wrong in my usage of the SDK?
[code]

[2019-10-08 18:04] fabiojose commented on #63
@gee4vee
I have some question:

- What is the spec version 0.2 or 0.3?
- What is your JDK version?

[2019-10-08 18:34] gee4vee commented on #63
spec v0.2, Java 1.8, Spring Boot 2.1.9

[2019-10-09 16:16] gee4vee commented on #63
@fabiojose At times I'm getting a different exception. I guess it depends on the contents of the event. In this case events are coming from the standard CRON job source. I can get you access to the repo if you have a GitLab ID.
[code]

[2019-10-09 20:13] gee4vee opened #64 "java.lang.IllegalStateException: Failed to decode when unmarshalling event"
I have a unit test incorporating Spring Boot and CloudEvents:

[code]

The test is failing with this exception. It appears to be unable to handle the JSON string I'm passing in as the body. Am I doing something wrong in the unit test?
[code]

[2019-10-09 20:36] fabiojose commented on #63
I see `at com.google.gson.internal.ConstructorConstructor$3.construct(`. We do not use gson.

[2019-10-09 20:38] fabiojose commented on #63
Yes, I have `fabiojose`. Ping me when you grant access

[2019-10-09 20:46] fabiojose commented on #64
You must pass the map, not the json encoded string.

Instead of this
[code]

Do this:

[code]
Then, the Marshaller will do the Json.encode work, creating a valid json string.

The result body will be `"{"test":"value"}"`, not `"{\"test\":\"value\"}"` with trilling causing the error.

[2019-10-09 20:47] fabiojose commented on #63
gson cant work with ZonedDatetime use as the type of `time` attribute.

[2019-10-09 20:53] fabiojose commented on #63
As I suspected. We use hibernate validator: 6.0.17.Final

[code]

And the error shows a old one: 5.3.6.Final

[code]

Please, list all dependencies in your pom.xml.

[2019-10-10 01:38] gee4vee commented on #63
I cannot find you on GitLab (which is different than GitHub). This is the repo:
https://us-south.git.cloud.ibm.com/gvalenc/nickfs-springcloudantknative/-/project_members

[2019-10-10 01:39] gee4vee commented on #63
This is my pom.xml:
[code]

[2019-10-10 01:40] gee4vee commented on #63
Yes this seems to be related to a Java Cloudant Client issue. I will look into it separately, thanks.

[2019-10-10 02:25] gee4vee commented on #64
This worked, thanks!

[2019-10-10 02:25] #64 closed

[2019-10-10 15:36] gee4vee commented on #63
So adding this to my pom fixed it. Thanks!
[code]

[2019-10-10 15:36] #63 closed

[2019-10-29 03:20] 51systems opened #67 "Kafka binary content type not set"
According to the [Binary content mode spec](https://github.com/cloudevents/spec/blob/master/kafka-protocol-binding.md#321-content-type):

However, it appears that this header is not being set properly.

I'm not really sure what should be responsible for setting this header. It seems that the `HeaderMapper` is a good candidate, but it is not aware if the content mode is structured or not. It seems

[2019-10-30 10:32] fabiojose commented on #67
You are right!

[2019-10-30 14:22] 51systems commented on #67
If someone is able to provide guidance as to where this header should be set, I'm happy to submit a pull request.

[2019-10-31 21:20] fabiojose opened #68 "Move impl for spec 0.2 and 0.3 to branch v0.3.x"
The target of this issue is to remove the impl of spec 0.2 and 0.3 from v1.0.0 of this SDK.

Then, they will have separated lifecycles.

[2019-11-01 15:19] #60 closed

[2019-11-12 20:15] paulschwarz opened #70 "Implement "dataref" extension"
Do you plan to implement the dataref extension?

https://github.com/cloudevents/spec/blob/master/extensions/dataref.md

[2019-11-20 13:04] JohannesHampel opened #74 "Serialization Problems"
Hi there,

i use cloudevents sdk version 1.0.0, jackson 2.9.8.

when I run the following test, the "data" node appears twice in the resulting JSON (see last println line):

[code]
So the output is something like:
[code]

Could you please tell me what I am doing wrong?

TIA,

Johannes Hampel

[2019-11-27 12:05] sigrist commented on #74
Hi!

Is there a plan to release this issue? I can't use the API cause is generating invalid JSONs.

Thanks

[2019-11-29 11:32] #67 closed

[2019-11-29 11:32] #74 closed

[2019-12-02 18:58] alejandroa12 opened #81 "Extended attributes on json"
Dear team,
How can i handle custom attributes using json java sdk?
i need to work with something like this:
{
    "specversion" : "1.0",
    "type" : "com.example.someevent",
    "source" : "/mycontext",
    "id" : "A234-1234-1234",
    "time" : "2018-04-05T17:31:00Z",
    "Custom Attribute1" : "bar"
    "Custom Attribute2" : "foo"
    "datacontenttype" : "text/xml",
    "data" : "<much wow=\"xml\

[2019-12-02 19:51] alejandroa12 opened #77 "manage custom attributtes"
Dear team,
How can i handle custom attributes using json java sdk?
i need to work with something like this:
{
"specversion" : "1.0",
"type" : "com.example.someevent",
"source" : "/mycontext",
"id" : "A234-1234-1234",
"time" : "2018-04-05T17:31:00Z",
"Custom Attribute1" : "bar"
"Custom Attribute2" : "foo"
"datacontenttype" : "text/xml",
"data" : "<much wow="xml"/>"
}

and manage on the Cloud events

[2019-12-02 23:14] fabiojose commented on #77
@alejandroa12, you must use extension for that.

You may create your own extension, like this:

Create a `CustomAttributeExtension`:

[code]

Then, use it:

[code]

Resulting:

[code]

[2019-12-02 23:16] fabiojose commented on #29
@dturanski Could you create a PR with this solution?

[2019-12-03 17:40] alejandroa12 commented on #77
Thanks fabio, now I got this problem with the wire function. When I use the function the field data appears two times in the output so that brings me problems parsing the json object.

[2019-12-03 19:09] dturanski commented on #29
@fabiojose - I'll see what I can do

[2019-12-04 14:13] duglin commented on #81
neat - moved issue to right repo :-)

[2019-12-04 16:40] dturanski commented on #29
The PR addresses the date issue but more is needed for GSON compatibility in general. There are numerous Jackson annotations now which make `CloudEventImpl` less compatible with other json libraries. A fully portable object will need a zero arg constructor and flattened attributes to begin with.

[2019-12-06 16:58] fabiojose commented on #77
@alejandroa12

We fixed this bug of data appearing two times in version 1.1.0.

[2019-12-06 17:00] fabiojose commented on #81
Closing due to the duplication with issue #77

[2019-12-06 17:00] #81 closed

[2019-12-09 20:12] alejandroa12 opened #82 "Managing extended attributes"
Hi,
Is there a way to parse extended attributes from headers in order to get a json?

[2019-12-18 13:47] fabiojose commented on #82
@alejandroa12,

You may do that creating a base64 custom extension.

Create a custom attribute extension, implementing the ExtensionFormat.

[code]

Create a bean for your custom json:

[code]

Then, use it:

[code]

Resulting in a attribute with base64 data:

**Headers**

[code]

**Payload**
[code]

## Get it back as JSON

[code]

[2019-12-27 08:12] cookingkode opened #85 "data_base64 and data both set for binary data"
CloudEventBuilder.build() sets both data_base64 and data in case data is of binary type.  This is a duplication / bloat of payload . Shouldn't they be mutually exclusive?

[2020-01-03 09:30] jponge opened #84 "Wrong email in Maven meta-data"
https://github.com/cloudevents/sdk-java/blob/6861823eb8dbcee7f58ea2abcd5b1c33e9077bc6/pom.xml#L53

This is not my email 😉

[2020-01-13 19:46] 51systems opened #88 "Kafka binary content type not read"
#67 fixed the problem where the kafka `content-type` header is not written. However, it appears `io.cloudevents.v1.kafka.AttributeMapper` does not attempt to read the content type from the appropriate header (doesn't attempt to read content type from `content-type` header).

[2020-01-17 01:38] eamonnmcmanus opened #89 "BinaryUnmarshaller confused by charset in Content-Type"
BinaryUnmarshaller expects the Content-Type to be exactly `application/json`. It fails if the Content-Type is `application/json; charset=utf-8`, as it is in [this example from the spec](https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#314-examples).

[2020-01-27 16:40] fabiojose commented on #85
@cookingkode

Could you provide an example of resulting payload?

[2020-01-27 16:47] fabiojose commented on #84
@jponge

Could you perform a PR to fix it?

[2020-02-03 09:31] jponge commented on #84
Sure :-)

[2020-02-03 09:32] jponge commented on #84
See #92

[2020-02-05 22:26] pdalbora opened #93 "CloudEvents prefix for extension attributes in Kafka headers"
The Java SDK does not currently prefix extension attributes with "ce_" in the headers.

[Section 3.2.3.1 of the specification for Kafka Protocol Binding](https://github.com/cloudevents/spec/blob/v1.0/kafka-protocol-binding.md#3231-property-names) states that "CloudEvent attributes are prefixed with ce_ for use in the message-headers section." While the specification does not _explicitly_ state eit

[2020-02-06 10:43] bsideup commented on #33
The by-version split indeed makes it harder to rely on CloudEvents because one has to re-implement the logic to parse the spec version header and select an appropriate builder.

Another thing is that some parameters that are set in stone (from the v1 spec, like `time`) are not in the `CloudEvent` interface, and the only option to get them is to cast to `CloudEventImpl` from `v1` package.

@fabiojo

[2020-02-06 10:45] bsideup commented on #88
@fabiojose I can work on this (and add missing tests), how do you assign `help wanted` tasks?

[2020-02-06 12:46] bsideup opened #94 "Kafka transport does not respect the partitioning extension"
https://github.com/cloudevents/spec/blob/master/kafka-protocol-binding.md#31-key-attribute

https://github.com/cloudevents/spec/blob/v1.0/extensions/partitioning.md

[2020-02-06 15:36] ojhughes opened #95 "Should CDI & Vert.x support be removed from core SDK"
As a core SDK, would it make more sense that any concrete implementations live in their own Github projects? That way the cloudevents implementations could reside under their parents Github org such as `vertx-3/vertx-cloudevents` and attract a wider audience. Also removes maintenance burden from the core project.

[2020-02-11 11:04] matzew commented on #33
I like the idea of deprecation.

and perhaps add some function to go from `0.x` -> `1.0` as a conversion hook

[2020-02-13 16:13] fabiojose commented on #93
We aggree @pdalbora, they must be prefixed.

[2020-02-13 16:15] bsideup commented on #93
Is there some soft of a TCK for the spec?

[2020-02-13 16:34] fabiojose opened #96 "Should remove bean validations from core SDK"
To provide a dependency-free SDK that can be used with a variety of frameworks and different versions.

I want to propose to remove the bean validations.

[2020-02-18 10:46] razorcd opened #97 "toString() equals() and hashCode() methods"
Hello,

`toString()`, `equals()` and `hashCode()` are missing from the CloudEvents implementations. Is there any reason for not including this?

I am mostly interested of the `toString()` for logging purposes.

Should I open a PR and add these methods to all CloudEvent implementations?

[2020-02-20 16:45] fabiojose commented on #97
Sure!

PR are welcome!

[2020-02-23 18:35] fabiojose commented on #94
We don't have implemented this extension yet. PRs are welcome!

[2020-03-05 09:58] bluemonk3y opened #100 "Support Kafka Interceptors for general Producer Consumer support"
Kafka Interceptors have full access to Header, K, V and would allow the Marshaller to proxy the event and map to/from the wire format. This approach would mean CE can be plugged into existing Kafka applications and applied across all supported Kafka Client language bindings for CE sdks.

[2020-03-16 09:03] zd-double opened #101 "Support java1.7"
There's lots of usage of java8 in sdk-java like ZonedDateTime, Is there an adaptor version for Java7

[2020-03-19 20:12] matejvasek opened #102 "update http-vertx to use api v1"
Currently http-vertx uses v0.2, I think it would be better to use v1.

[2020-03-19 20:13] matejvasek opened #103 "incorrect content-length in http-vertx"
The http-vertx determines content-length by String.length() which returns count of characters byte size.

[2020-03-20 19:49] matejvasek opened #106 "http-vertx readFromRequest and writeToHttpClientRequest only allow CE with dataType=String"
I think it should be generic.

[2020-03-23 17:34] cwallsfdc commented on #96
@fabiojose, we're running up against dependency conflicts w/ `org.hibernate.validator` which also brings in several other conflicting dependencies.  This prevents us from upgrading to Cloudevent 1.0.

Is there a plan to replace `org.hibernate.validator`  bean validation or removing altogether?  Anyway to accelerate an alternative?  We're happy to discuss and help.

[2020-04-09 00:45] AceHack commented on #29
Any updates on this?

[2020-04-09 02:32] AceHack opened #109 "Please Support JavaTimeModule"
It would be great if this SDK used a Jackson object mapper configured like the following, in this way I don't believe you would need any special ZonedDateTime code, this should handle it and allow for greater flexibility.

[code]

here are the references from my gradle.build.kts if that helps

[code]

Here is a test I wrote:
[code]

[code]

[2020-04-10 15:24] dturanski commented on #29
@fabiojose - Any thoughts on merging the PR?  @AceHack - Is there a specific issue you are dealing with?

[2020-04-14 16:43] s-m-sufyian opened #110 "Integration for Apache Pulsar"
Extend sdk-java ti support integration with apache pulsar (https://pulsar.apache.org)

[2020-04-14 16:43] s-m-sufyian commented on #110
Can I start working on this issue ?

[2020-04-15 13:03] fabiojose opened #111 "Modularization: api module"
This module carry just the API definitions, free of any kind of external dependencies.

- `api`

When someone needs the API in their project, add just this module and avoid any kind of conflict with pre-existing dependencies.

[2020-04-15 13:08] fabiojose opened #112 "Modularization: http-vertx module"
This module implements the [HTTP Protocol Binding](https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md) with vertx.

Actually, we have this module, but it needs refactorings.

- `http-vertx`

__This module depend on [api](https://github.com/cloudevents/sdk-java/issues/111) one.__

When someone wants the http binding to create or read events with vertx, they add this module and t

[2020-04-15 13:11] fabiojose opened #113 "Modularization: json-jackson"
This module implements the [JSON Event Format](https://github.com/cloudevents/spec/blob/v1.0/json-format.md) with Jackson.

We already have some good work with this, but it needs refactorings.

- `json-jackson`

__This module depend on [api](https://github.com/cloudevents/sdk-java/issues/111) one.__

When someone wants the json format to create or read events, they add this module and they concern

[2020-04-15 13:15] fabiojose opened #114 "Modularization: kafka module"
This module implements the [Kafka Protocol Binding](https://github.com/cloudevents/spec/blob/v1.0/kafka-protocol-binding.md)

This module already exists, but it needs refactorings.

- `kafka`

__This module depend on [api](https://github.com/cloudevents/sdk-java/issues/111) one.__

When someone wants the kafka binding to create or read events, they add this module and they concern about potential

[2020-04-15 13:16] fabiojose opened #115 "Modularization: avro module"
This module implements the [Avro Event Format](https://github.com/cloudevents/spec/blob/v1.0/avro-format.md).

- `avro`

__This module depend on [api](https://github.com/cloudevents/sdk-java/issues/111) one.__

When someone wants the avro format to create or read events, they add this module and they concern about potential conflicts with pre-existing dependencies in their projects.

[2020-04-15 13:23] fabiojose commented on #110
@s-m-sufyian Wow! it's looking a Protocol Binding. Consider [filing an issue](https://github.com/cloudevents/spec/issues) at the spec repo to propose the specification with Apache Pulsar.

[2020-04-15 13:25] s-m-sufyian commented on #110
Cool, will do it. Thank you

[2020-04-15 13:39] fabiojose commented on #101
@zd-double, nope, no adapter for java7.

Are you have using java7?

[2020-04-15 13:43] fabiojose commented on #100
@bluemonk3y looks nice, please consider a PR for that.

[2020-04-16 19:03] CH-karthikprasad opened #117 "Content Type being filtered out at the consumer"
Hey,

I have been trying to use CloudEvents along with Kafka. For the message format, I am using Avro.
I am using the java sdk version 1.3.0 with the CloudEvent producers and consumers.

My observation.
In the HeaderMapper.java class `https://github.com/cloudevents/sdk-java/blob/361a34cc639ddaa75b2a5080f117fc282be7625b/kafka/src/main/java/io/cloudevents/v1/kafka/HeaderMapper.java#L53`, you are fil

[2020-04-16 19:05] CH-karthikprasad commented on #117
I think this issue is the same as https://github.com/cloudevents/sdk-java/issues/88.

I will close this one when confirmed. Thanks

[2020-04-20 08:24] bsideup opened #118 "Remove `Attributes` interface"
In the current version of SDK, one has to deal with generic signature of `CloudEvent` and an unnecessary allocation of the `AttributesImpl` object.

While working on [CloudEvents for Liiklus](https://github.com/bsideup/liiklus/pull/252/files#diff-7bb8ccda936f38f78c9d74c4430b107cR190), I had to implement our own `CloudEvent` type that implements both `CloudEvent` and `Attributes` to reduce the allo

[2020-04-20 09:16] bsideup opened #119 "Performance"
# The problem
The current balance is leaning towards the usability of the SDK vs performance. Hot spots:

- `Optional` usage - mandatory allocations
- [Streams where unnecessary](https://github.com/cloudevents/sdk-java/blob/v1.3.0/api/src/main/java/io/cloudevents/v1/http/HeaderMapper.java#L49-L79) - after I rewrote this code with plain old `for-in`, it was allocating much less and even easier to u

[2020-04-20 09:48] bsideup opened #120 "Common entry point"
Since the spec evolves, new versions of the spec are being added (think 0.2, 0.3, 1.0)

At the moment, it is the responsibility of the end user - to figure out from the input (e.g. HTTP request) which spec version was used to encode the event before calling the unmarshaller.

It _feels_ that this (not trivial) responsibility should be handled by the SDK itself and provide a generic method to "just

[2020-04-21 10:28] slinkydeveloper commented on #96
Solved by #108

[2020-04-21 10:30] slinkydeveloper commented on #120
This should be solved by #108, but we'll revisit it after to figure out if we have any leftovers

[2020-04-21 10:31] slinkydeveloper opened #121 "Integration with Jax-RS"
Implement integration with Jax-rs client/server

[2020-04-21 10:31] bsideup commented on #120
@slinkydeveloper could you please describe here (in text and/or code snippets) how do you plan to solve it? I believe it will help to define the migration path for those who are already on v1 and need to plan it now.

[2020-04-21 10:41] slinkydeveloper commented on #120
As  #108;

### Json and other event formats

To marshal/unmarshal event formats, the user just asks to the `EventFormatProvider` to provide resolve a format, and the `EventFormat` implementation takes care of correctly implementing marshal/unmarshal for different event versions (this is highly simplified by the `Message` interface)

### HTTP

In sdk v1 there was this concept of `Unmarshaller` whic

[2020-04-21 11:17] slinkydeveloper opened #122 "Read and write extensions APIs"
Define APIs about how to read and write extensions

[2020-04-21 11:19] slinkydeveloper commented on #122
#108 provides this to read extensions https://github.com/cloudevents/sdk-java/blob/ae4028d59d92cfa162f67048c228f546c1e94dde/api/src/main/java/io/cloudevents/extensions/ExtensionsParser.java

This way the user can read extensions like:

[code]

While to write extensions, the `CloudEventBuilder` supports them:

[code]

[2020-04-21 11:37] slinkydeveloper opened #123 "Returning empty values"
From https://github.com/cloudevents/sdk-java/issues/119 and https://github.com/cloudevents/sdk-java/pull/108#discussion_r411193730:

What technique should we use, around the sdk, to notify the user of an eventual empty return value?

1. `Optional` getters
2. Have an annotation called `@Nullable` which notifies the user of an eventual null return value
3. Just explicit in the Javadoc that a method

[2020-04-21 12:49] slinkydeveloper commented on #123
I'm fine both with the `@Nullable` annotation (as soon as it's internal to the sdk and not an external dependency) or just having the javadoc to explicitly mention that a method can return null.

[2020-04-21 13:08] bsideup commented on #123
Yeah, I think JSR-305 `@io.cloudevents.lang.Nullable` meta-annotation (similar to [Spring's](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/lang/Nullable.html), for example) would be the best option, so that the static analysis tools can help.

We should also mark the package as non-nullable by default

[2020-04-21 13:35] slinkydeveloper commented on #123
If i understood correctly with JSR-305 we need to bring in an additional dependency, which I want to avoid as much as possible, even more for just an annotation.

[2020-04-21 13:39] bsideup commented on #123
@slinkydeveloper the point of JSR-305 is that you don't need the dependency, but create your own annotation (and this meta-annotation is annotated with `provided` JSR-305 annotation)

[2020-04-21 13:48] slinkydeveloper commented on #123
@bsideup the one that you linked from Spring uses `@Nonnull` from `javax.annotation`, can you provide an example/doc that explains how it works?

[2020-04-21 13:53] bsideup commented on #123
The JVM spec allows you to keep the annotations without having them at runtime. it is used by JSR-305 to implement meta-annotations that are marked with `java.annotation` at compile time, but don't need them at runtime.

As you can see, Spring does not depend on it:
https://mvnrepository.com/artifact/org.springframework/spring-core/5.2.5.RELEASE

BTW it is also Kotlin-friendly.

[2020-04-21 17:22] making commented on #123
Hi, here is an example that follows Spring's approach.
https://github.com/making/yavi/tree/develop/src/main/java/am/ik/yavi/jsr305
The dependecy on JSR-305 is optional.
https://github.com/making/yavi/blob/develop/pom.xml#L64-L68

[2020-04-22 12:09] #96 closed

[2020-04-22 12:09] #111 closed

[2020-04-22 12:09] #113 closed

[2020-04-22 12:25] slinkydeveloper opened #124 "Improve Javadoc coverage"

[2020-04-22 12:28] slinkydeveloper opened #125 "Add examples"
We need an examples directory with ready to try projects, which contains some examples on how to use our integrations:

* [x] An example using http with vertx #195
* [x] amqp https://github.com/cloudevents/sdk-java/pull/294
* [x] An example using http with restful ws
  * [x] resteasy #226
  * [x] spring boot #288
* [x] An example using kafka #194
* [x] Readme that explains the examples https://git

[2020-04-22 14:50] bsideup opened #128 "master branch is broken"
#108 just broke the master build:
https://travis-ci.org/github/cloudevents/sdk-java/jobs/678133008

It would suggest reverting it and re-applying, but it wasn't squashed into a single commit neither, which would mean reverting 21 commit.

[2020-04-22 15:05] #97 closed

[2020-04-23 08:13] slinkydeveloper commented on #128
Fixed by https://github.com/cloudevents/sdk-java/pull/127, weird that CI didn't noticed...

[2020-04-23 08:13] #128 closed

[2020-04-23 17:03] slinkydeveloper commented on #120
@bsideup does this API solve the problem, or do you think we still miss something?

[2020-04-23 17:17] slinkydeveloper commented on #123
I was looking around for this jsr305 dep, it looks an old unmantained module without anybody actively mantaining it, it even looks like they didn't migrated the code from https://code.google.com/archive/p/jsr-305/source. I'm not sure it's really a good idea... Anybody else implemented this jsr and is actively mantaining it?

[2020-04-23 17:20] bsideup commented on #123
One of the most commonly used is https://mvnrepository.com/artifact/com.google.code.findbugs/jsr305

Spring Framework and other top Java projects are using it:
https://github.com/spring-projects/spring-framework/blob/8265db0ae1d83a1e204e602fa96e542c2677977f/build.gradle#L348

Note that it is just a set of annotations.

[2020-04-23 17:33] slinkydeveloper commented on #123
The fact that everybody uses it doesn't make it maintained :smile: Anyway, are you willing to provide a PR to add them to api package?

[2020-04-23 19:50] bsideup commented on #123
@slinkydeveloper I would agree with you if not the usages tab of that dependency where you will find a ton of major Java projects ;)

Sure! Expect a PR soon

[2020-04-24 10:17] #112 closed

[2020-04-24 10:18] #106 closed

[2020-04-24 10:19] slinkydeveloper commented on #103
This one still applies? Or can we close it?

[2020-04-28 07:46] slinkydeveloper commented on #119
I mark this one as invalid, since the 4 points you described are already discussed in other issues and the others doesn't apply any more to master. We now have a low level api and an high level one.

[2020-04-28 07:46] #119 closed

[2020-04-28 07:49] slinkydeveloper commented on #29
Hi @dturanski, I think i'm going to mark this issue as invalid since in sdk v2 we don't use anymore jackson annotations and the implementation of json ser/de is hugely simplified thanks to the `Message` api. You can easily implement a json serializer/deserializer for GSON similar to what is done for https://github.com/cloudevents/sdk-java/tree/master/formats/json-jackson.
We're also happy to accep

[2020-04-28 07:49] #29 closed

[2020-04-28 07:52] slinkydeveloper commented on #33
Hi!
In SDK v2 we added methods to convert events back/forth different spec versions (in sdk v2 the only supported will be 0.3 and 1.0). The sdk v2 won't be compatible with sdk v1, since the major changes introduces to vastly simplify usability.

[2020-04-28 07:52] slinkydeveloper commented on #54
I think this one is invalid for sdk v2, reopen if you need it

[2020-04-28 07:52] #54 closed

[2020-04-28 07:54] slinkydeveloper commented on #38
I think such adaptor requires first a binding in the cloudevents spec, so I think you should open an issue on https://github.com/cloudevents/spec/issues

[2020-04-28 07:54] #68 closed

[2020-04-28 07:59] slinkydeveloper commented on #77
Hi @alejandroa12, with sdk v2 (you can try the 2.0.0-SNAPSHOT) you can easily access the extensions just doing `event.getExtensions().get("myattribute")`. You don't need anymore a way to access extensions creating an extension pojo.

BTW the extension name `Custom Attribute1` is invalid for the spec: https://github.com/cloudevents/spec/blob/v1.0/spec.md#attribute-naming-convention

[2020-04-28 07:59] #77 closed

[2020-04-28 07:59] slinkydeveloper commented on #82
https://github.com/cloudevents/sdk-java/issues/77#issuecomment-620445788

[2020-04-28 07:59] #82 closed

[2020-04-28 08:00] #84 closed

[2020-04-28 08:00] slinkydeveloper commented on #85
This should be fixed with 2.0.0-SNAPSHOT, reopen if you need it

[2020-04-28 08:00] #85 closed

[2020-04-28 08:01] slinkydeveloper commented on #89
This should be fixed in 2.0.0-SNAPSHOT, reopen if you need it

[2020-04-28 08:01] #89 closed

[2020-04-28 08:02] slinkydeveloper commented on #101
Java 7 is from long time out of LTS support, so I think we're not going to support it, since it's too complex and too hard to mantain

[2020-04-28 08:02] #101 closed

[2020-04-28 08:04] slinkydeveloper commented on #95
I think it's fine to have several integrations with various frameworks as soon as they are modular from the core package.
We plan to add even more as you see here https://github.com/cloudevents/sdk-java/projects/1

[2020-04-28 08:04] #95 closed

[2020-04-28 08:06] #102 closed

[2020-04-28 08:06] slinkydeveloper commented on #103
@matejvasek ping

[2020-04-28 08:07] slinkydeveloper commented on #110
Hi @s-m-sufyian , some things changed in the last days since we started reworking the sdk to create a v2 with newer and simpler APIs! Are you still willing to work on this?

[2020-04-28 08:07] slinkydeveloper commented on #109
This one is invalid, since now the encoding/decoding is done manually in `cloudevents-json-jackson' module

[2020-04-28 08:24] bsideup commented on #123
Status update: not stale, will be working on the PR today.

[2020-04-28 08:31] bsideup opened #137 "Consider using `ChronoZonedDateTime`"
Currently, a concrete implementation (`ZonedDateTime`) is used, making it impossible to do lazy parsing.

If `ChronoZonedDateTime` (`ZonedDateTime` implements it) is used in the public API, it will provide the same set of useful APIs, but allow better flexibility.

[2020-04-28 08:31] slinkydeveloper commented on #118
Now that the generics problem doesn't exist anymore, I think this discussion really brings us down to the "inheritance vs composition" debate, which doesn't have a real winner here. I think we should keep as is for several reasons:

* Easier to implement conversions back/forth different spec versions
* Easier to implement `Message` interfaces
* Less burden to have a new spec version
* Only one `Cl

[2020-04-28 08:32] slinkydeveloper commented on #120
To me this one looks solved, reopen if you need it

[2020-04-28 08:32] #120 closed

[2020-04-28 08:33] #114 closed

[2020-04-28 08:40] slinkydeveloper commented on #137
Uhm looking at the javadoc i see this: https://docs.oracle.com/javase/8/docs/api/java/time/chrono/ChronoZonedDateTime.html

[2020-04-28 08:45] bsideup commented on #137
Yes. "Most" is the key.

[2020-04-28 08:46] slinkydeveloper commented on #137
I think I want to follow the official Javadoc.

[2020-04-28 08:48] bsideup commented on #137
@slinkydeveloper care to explain?
Also, can we please keep the issue open at least we have a consensus?

[2020-04-28 08:54] olegz commented on #137
Yes, please reopen it. Closing legitimate issues before giving it due process and reasonable debate will eventually discourage community participation all together, which would be detrimental and quite frankly unfair to the entire Cloud Events and Cloud Native Computing Foundation effort, don't you think?

[2020-04-28 08:55] slinkydeveloper commented on #137
I think the official javadocs are already pretty clear.

[2020-04-28 08:55] slinkydeveloper commented on #137
But feel free to discuss about it

[2020-04-28 08:58] bsideup commented on #137
@slinkydeveloper
The official javadoc only states that, in most places, you should prefer using `ZonedDateTime`.
That said, it does not say that you should never use the `ChronoZonedDateTime` interface.

It is a good practice, to use interfaces where available, because it allows more flexibility and does not force concrete implementation that may be costly to use (our case).

Unless you have good

[2020-04-28 09:03] olegz commented on #137
@slinkydeveloper javadoc also says:
. . .
_A date-time with a time-zone in an arbitrary chronology, intended for advanced globalization use cases._

Unless I am mistaken, we are building a framework with hopes of global use and applicability, so by definition we can't treat it as _most applications_. So baking certain level of flexibility into the framework should be a default unless there is a st

[2020-04-28 09:48] slinkydeveloper commented on #88
I think this one now should just work with v2, reopen if you need it

[2020-04-28 09:48] #88 closed

[2020-04-28 09:49] slinkydeveloper commented on #93
I think this one should work with 2.0.0-SNAPSHOT, reopen if you need it

[2020-04-28 09:49] #93 closed

[2020-04-28 09:50] slinkydeveloper commented on #100
Hi, since producer/consumer are removed from 2.0.0-SNAPSHOT, this one is invalid

[2020-04-28 09:50] #100 closed

[2020-04-28 09:52] slinkydeveloper commented on #117
I think this one is invalid with 2.0.0-SNAPSHOT

[2020-04-28 09:52] #117 closed

[2020-04-28 10:03] slinkydeveloper commented on #123
Now that #138 is merged, are you willing to apply the same changes to other modules that needs it (or at least, check if it's needed in other modules)?

[2020-04-28 10:05] bsideup commented on #123
My main concern was the primary interface (`CloudEvent`), and I think it is fine to keep `Optional`s in implementations for better readability (unless someone complains about it).

That said, the same annotation can definitely be used in other modules 👍

[2020-04-28 10:06] slinkydeveloper commented on #123
I would love to, to keep consistency across our modules

[2020-04-28 10:12] slinkydeveloper opened #139 "Remove cdi module"
Since cdi looks unused from the maven central stats and it doesn't add a lot of value to the project, i propose to remove it.

@bsideup @fabiojose @matzew any takes on this?

![chart](https://user-images.githubusercontent.com/6706544/80475598-5f237a80-8949-11ea-9fbd-3cab704fa18c.png)

![chart](https://user-images.githubusercontent.com/6706544/80475660-7c584900-8949-11ea-893f-40b11ca535cc.png)

[2020-04-28 10:17] bsideup commented on #139
I think that's a good idea. IMO it does not belong here.

[2020-04-28 10:25] #139 closed

[2020-04-28 10:44] slinkydeveloper opened #142 "Spring integration"
Given the ongoing work on [jaxrs implementation](https://github.com/cloudevents/sdk-java/issues/121), what it takes to integrate with spring?

[2020-04-28 10:44] slinkydeveloper commented on #142
Ping @bsideup

[2020-04-28 10:45] bsideup commented on #142
cc @olegz (Spring Cloud)

[2020-04-28 10:53] olegz commented on #142
I guess there should be clarification on what type of integration you are looking for. Spring provides variety of ways to expose user functionality as REST endpoints. Some of them require user to no configuration at all. I can certainly elaborate further but it would help if more specifics are shared

[2020-04-28 10:54] slinkydeveloper commented on #121
The Jax-Rs integration will consists of a `@Provider` implementing [`MessageBodyReader`](https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/ext/MessageBodyReader.html) and [`MessageBodyWriter`](https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/ext/MessageBodyWriter.html)

[2020-04-28 10:54] slinkydeveloper commented on #142
The Jax-Rs integration will consists of a `@Provider` implementing [`MessageBodyReader`](https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/ext/MessageBodyReader.html) and [`MessageBodyWriter`](https://javaee.github.io/javaee-spec/javadocs/javax/ws/rs/ext/MessageBodyWriter.html)

[2020-04-28 11:51] matejvasek commented on #103
@slinkydeveloper since it uses response.end() instead of response.write() it should be fixed.

[2020-04-28 11:56] slinkydeveloper commented on #103
Thank you! Reopen if you need it.

[2020-04-28 11:56] #103 closed

[2020-04-28 12:20] dsyer commented on #142
There are many equivalents to `MessageBodyReader` and `MessageBodyWriter` in Spring (depending on blocking or non-blocking, HTTP, AMQP, Kafka, JMS, etc.). I think rather than try and implement them all here it would be better just to present a clean, stable API.

[2020-04-28 13:31] olegz commented on #137
Personally I would like to see a PR and then make a decision  as I am sure a lot of the things will clear up with it.

[2020-04-28 15:24] AceHack commented on #109
Can you please explain in more detail how this is invalid?  I don't understand.

[2020-04-28 15:25] AceHack commented on #109
Is there a cloudevents-json-jackson module this bug need to be moved to?

[2020-04-28 15:27] AceHack commented on #109
The json jackson module still has the same issues.  It should not use a custom ZonedDateTime Ser/DeSer and should properly handle the new JavaTimeModule stuff.  This bug should not be closed.

https://github.com/cloudevents/sdk-java/tree/master/formats/json-jackson/src/main/java/io/cloudevents/format/json

[2020-04-28 15:34] slinkydeveloper commented on #109
Can I ask the reason why not? The serialization/deserialization is handled correctly serializing/deserializing using RFC3339 (as underlined by the spec https://github.com/cloudevents/spec/blob/v1.0/spec.md#type-system). I've tried the `JavaTimeModule` but i found easier to just serialize/deserialize manually

[2020-04-28 15:37] slinkydeveloper commented on #109
I think we can remove these ones:

* https://github.com/cloudevents/sdk-java/blob/master/formats/json-jackson/src/main/java/io/cloudevents/format/json/ZonedDateTimeDeserializer.java
* https://github.com/cloudevents/sdk-java/blob/master/formats/json-jackson/src/main/java/io/cloudevents/format/json/ZonedDateTimeSerializer.java

Since now they're not used anymore

[2020-04-28 16:40] AceHack commented on #109
@slinkydeveloper I'm not sure I understand what you mean "serialize/deserialize" manually?  You are using Jackson so I need to be able to extend and put my own types and types from other libraries so they will serialize correctly like.

            .addModule(new JavaTimeModule())
            .addModule(new GuavaModule())
            .addModule(new HppcModule())
            .addModule(new PCollect

[2020-04-28 17:25] slinkydeveloper commented on #109
If you're referring to the event payload, in the v2 of the sdk, the `CloudEvent` won't parse the event payload anymore, so you won't need to configure the integrated `ObjectMapper` because it's used just for the `CloudEvent`

[2020-04-29 01:39] s-m-sufyian commented on #110
@slinkydeveloper yes I am on it

[2020-04-29 06:42] slinkydeveloper commented on #110
Cool! So please rebase on latest upstream master changes :smile:

[2020-04-29 15:08] slinkydeveloper commented on #142
@olegz @dsyer draft of the jaxrs implementation is here: https://github.com/cloudevents/sdk-java/pull/145

Can it work OOTB with Spring?

[2020-04-29 15:31] dsyer commented on #142
Anyone who used JAX-RS with Spring I imagine could register the `@Provider` - I think that's the way it works with Spring Boot. The `MessageUtils` looks useful as well for internal use in Spring maybe (I see you used it in the Kafka binding already).

[2020-04-30 00:36] AceHack commented on #109
So are you saying for unstructured i.e. application/json content type cloud events, the SDK v2 does not decode the body at all?

[2020-04-30 06:34] slinkydeveloper commented on #109
The sdk v2 decodes the event, but not the "data" field of the event: https://github.com/cloudevents/sdk-java/blob/master/api/src/main/java/io/cloudevents/CloudEvent.java#L45

[2020-04-30 06:35] slinkydeveloper commented on #109
you can take the byte array fro `CloudEvent#getData` and use jackson object mapper, jsonb, fast-json or whatever other library you like to go from data to your pojo

[2020-04-30 13:58] slinkydeveloper commented on #109
Ok maybe we misunderstood, but there is: https://github.com/cloudevents/spec/blob/v1.0/json-format.md#32-examples

In binary mode, the body of the http envelope maps to the cloudevent data attribute, as explained https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#312-event-data-encoding

[2020-04-30 13:59] slinkydeveloper commented on #109
With latest changes, in both cases (binary/structured), the data field is handled transparently and served as binary array, that you can handle as you want

[2020-04-30 14:00] AceHack commented on #109
You can see in this code it is not, this is from the example.  Your JSON decoder is used to decode the binary message into a Map.class

/* Unmarshals as CloudEvent instance */
CloudEvent<AttributesImpl, Map> event =
  Unmarshallers.binary(Map.class)
    .withHeaders(() -> httpHeaders)
    .withPayload(() -> myPayload)
    .unmarshal();

[2020-04-30 14:03] slinkydeveloper commented on #109
I'm sorry but these examples are still not updated, look at the tests :smile:

[2020-05-04 10:52] slinkydeveloper commented on #142
I've merged the jax-rs integration https://github.com/cloudevents/sdk-java/tree/master/http/restful-ws

Let me know if it can work OOTB with Spring or if we need something else :smile:

[2020-05-04 10:56] bsideup commented on #142
@slinkydeveloper when you're saying "work OOTB with Spring" - do you mean that this is enough to call it "Spring support", or that, when Spring's JAX-RS integration is used, the module works?
Because Spring is not _based_ on JAX-RS (but there are options to _use_ JAX-RS with Spring)

[2020-05-04 11:29] slinkydeveloper commented on #142
Ah ok, please forget my ignorance about that :smile:

[2020-05-06 16:37] razorcd commented on #33
IMO all major versions should be backwards compatible. Upgrading services to publish/consume new version of the CloudEvents is done one stream at a time. In a distributed system it is almost impossible to update all producers and consumers at the same time.

Without backwards compatibility we will have to manually import multiple versions of the SDK in the same application. Not even sure what conf

[2020-05-06 16:43] slinkydeveloper commented on #33
I'm sorry, I explained myself badly. Both sdk 1.x and 2.x supports cloudevents spec versions 0.3 and 1.0, so they should be able to talk each other, if that's what you mean. APIs however will be different, in order to simplify the usage of the sdk

[2020-05-13 07:06] slinkydeveloper commented on #121
Done in #145

[2020-05-13 07:06] #121 closed

[2020-05-20 05:39] xbblq62 commented on #77
@fabiojose

Can you please let me know how you are able to print the event as below
{
    "data":{
        "a":1
    },
    "id":"0cb578ff-3898-45b6-9e9d-b6a0677d46c0",
    "source":"structured_source",
    "specversion":"1.0",
    "type":"structured_type",
    "datacontenttype":"application/cloudevent+json",
    "dataschema":"structured_schema",
    "subject":"structured_subject",
    "time":"201

[2020-05-22 17:05] #118 closed

[2020-05-25 15:02] slinkydeveloper opened #156 "Plan for glue-ing core to api"
1. [ ] Remove `toBinaryMessage` & `toStructuredMessage` implementing the CloudEventVisitor/CloudEventVisitable:  #150. This allows all protocol bindings/event formats to continue working
2. [ ] Remove spec version conversion (`toV1()` and `toV03()`) from `CloudEvent` interface: https://github.com/cloudevents/sdk-java/pull/147
3. [ ] Flatten attributes implementation (this is not required, however

[2020-05-25 15:10] duglin commented on #156
thank you @slinkydeveloper
All, I wonder if we could use this issue to help flesh-out some of the work that Francesco sees in-front of us. Obviously discussing the overall order of these high-level tasks is important, but if any of them need further elaboration, or splitting up, let's discuss that here and perhaps sub-bullets might be needed.

[2020-05-25 15:41] bsideup commented on #156
@slinkydeveloper thanks for posting the roadmap! Looking forward to the result 👍

As an alternative option to speed up the migration, you could also rename the current interface (to something like `LegacyCloudEvent` and make `CloudEventV1Impl`-like classes implement both, so that the SNAPSHOTs can already be used (especially by projects that only need `-api`). Just my 2c :)

[2020-05-25 15:44] slinkydeveloper commented on #156
But then i need to change two times all the names :smile: hopefully this transition will be fast and painless, most of the code is already there

[2020-05-25 15:47] slinkydeveloper commented on #156
I could collapse point 1 and 4 point into a single one, but #150 is already pretty big

[2020-05-25 16:31] olegz commented on #156
I think we got our priorities in the wrong order. We're still talking about #150, #147 and #148 which were created long before the resent change to `CloudEvent` interface and introduction of  API module. This means that all those 3 PRs are build on outdated assumptions and thus have rendered themselves obsolete. We need to revisit the core goals those PRs are trying to address with a fresh look an

[2020-05-25 16:50] duglin commented on #156
would it help to see the list of classes and interfaces that would make up the 20-30 file change? Just a list of the proposed "first lines" of each - e.g.
[code]
so we can see how things extend/implement each other and which would not be part of the core object model but would instead be part of some util class (if any) - just so we can see if there's agreement on the overall structure of the chan

[2020-05-25 17:03] olegz commented on #156
Sure, here is the list of files requiring changes
[code]

For more details you can also look at my branch where i have made these changes and have a stable build now - https://github.com/olegz/sdk-java/tree/realign

I can issue a PR that would help

[2020-05-25 20:00] duglin commented on #156
I can't speak to whether the steps listed in the first comment are in the right order, or whether they're the minimal set, but I do have a question... from my reading of the comments it appears that there is agreement that at the end of this process we should:
1 - Not have the CloudEvent interface in 'core'
2 - 'api' should have the only definition of the CloudEvent interface
3 - 'core' should dep

[2020-05-25 20:13] bsideup commented on #156
@duglin sounds good!

[2020-05-25 21:51] duglin commented on #156
If there's agreement on those 3 points, I'm wondering if we can split this into pieces and first focus on getting to those 3 end-goals... regardless of how we get there. Meaning, I believe that Pivotal's main concern is that the 'api' layer remain clean, so we can focus on retaining that while also ensuring 'core' properly uses 'api' (e.g. doesn't duplicate the CE interface).

The 2nd part would t

[2020-05-26 04:19] olegz commented on #156
Yes, the 1, 2, 3 steps you (@duglin) outlined is the overall goal to which we should get to as quick as possible so we can have a stable build.
Everything else such as what's been addressed in other PRs, are separate concerns which must no be mixed into the 1, 2, 3 steps.

We can not have these large PRs that address many different concerns.
- They are nearly impossible to properly review
- Their

[2020-05-29 10:04] slinkydeveloper commented on #122
`Extension` needs to be reworked to remove the assertion that it can be translated to a map (aka similar to `CloudEventExtensions`)

[2020-05-29 11:25] slinkydeveloper commented on #94
Since now the sdk provides only a value `*Serializer` and not a producer anymore, I'm not sure where this functionality should live... Maybe in a key serializer that gets an event and extracts the key?

BTW for reference this is how I implemented it in sdk-go: https://github.com/cloudevents/sdk-go/pull/437/files#diff-fc52ba8f8c260341995925b8297d6144R24 . Basically the message writer (in this sdk i

[2020-05-29 12:24] slinkydeveloper commented on #123
@bsideup after #157 is in, are you willing to review all our usages of these annotations across all modules?

[2020-05-29 12:28] bluemonk3y commented on #94
An interceptor is required. The serializer won't have access to headers or the key and value - whereas the interceptors do. I raised a ticket for this previously.

https://kafka.apache.org/10/javadoc/org/apache/kafka/clients/producer/ProducerRecord.html

Regards,
Neil.

[2020-05-29 13:12] #156 closed

[2020-05-29 13:30] bluemonk3y commented on #100
@slinkydeveloper  - how do you write to Kafka without the Producer or Consumer?

[2020-05-29 13:34] slinkydeveloper commented on #100
The idea is that you use the producer and consumers from the kafka library, but you set the serializer/deserializer this library provide. look at this example: https://github.com/cloudevents/sdk-java/tree/master/kafka#producing-cloudevents

[2020-05-29 13:34] bluemonk3y commented on #94
@slinkydeveloper  - implementing something that does not support general producer and consumer use means the support for CloudEvents becomes limited. For example - Connectors, Stream Processors cannot interact natively with the Record. The correct approach is to use an interceptor and remove any code the tries to replace or reimplement Producers and Consumers. At that point an Interceptor is requi

[2020-05-29 13:36] bluemonk3y commented on #100
How does a serializer write or read the Kafka record header?

[2020-05-29 13:40] slinkydeveloper commented on #94
@bluemonk3y that sounds interesting, are you willing to PR a poc for that?

[2020-05-29 13:41] slinkydeveloper commented on #100
the serializer gets a writable kafka record headers: https://github.com/cloudevents/sdk-java/blob/master/kafka/src/main/java/io/cloudevents/kafka/impl/BaseKafkaMessageVisitorImpl.java#L38

[2020-05-29 13:49] bluemonk3y commented on #94
Hi Francesco,
I would love help however I don't have any spare cycles working - Im
working on another OpenSource project. I can assist in PR's etc but
otherwise, I'm really short on time.

Regards,
Neil

On Fri, 29 May 2020 at 14:40, Francesco Guardiani <notifications@github.com>
wrote:

[2020-06-01 08:23] slinkydeveloper opened #161 "CloudEventBuilder interface should have more methods to add attributes"
`CloudEventBuilder` now has only `build()` method, It should have more methods to build attributes in a similar fashion to `CloudEventAttributes`

[2020-06-01 09:03] slinkydeveloper opened #163 "Reusing CloudEventBuilder to build more events with same attributes"
Implement a method to reuse the same `CloudEventBuilder` as template for other builders

[2020-06-01 09:05] slinkydeveloper opened #164 "CloudEventBuilder constructor that fills some default values"
Create a method to start building a new CloudEvent filling some default values like:

* `id`: using UUID
* `time`: current time
* `source`: current hostname

[2020-06-01 09:12] bsideup commented on #164
I don't think this is a good idea. My 2c:

Being an explicit about the required attributes make the users think about them. e.g. if you already have an id a hands, it would be better to use it for he correlation.

Also, there are hidden implications like:
- UUID is blocking by default. Some systems may not want to have a blocking code in their code, and implicit blocking code isn't a good thing
-

[2020-06-01 09:55] slinkydeveloper commented on #109
I reorganized a bit the READMEs, check it out!

[2020-06-04 13:01] #161 closed

[2020-06-04 13:02] #122 closed

[2020-06-04 13:33] slinkydeveloper commented on #164
So first of all, this method to start with default values is definitely optional, but TBH I didn't thought about the blocking nature of UUID nor hostname. And yes it's not a good idea to have such method blocking, because then people will abuse of it... My initial idea was:

- id: I would love to have an automatic id generation, and UUID comes to my mind for this.
- source: hostname sounds the mor

[2020-06-04 18:16] johanhaleby opened #168 "Create a minimal cloudevents artifact without external dependencies"
Hi,

I just tried to cloudevents java SDK version 1.3.0:

[code]

but to my surprise it contained several versions of the cloud events specification as well as several external dependencies such as jackson, hibernate-validation etc. I'm sure this is fine for many people but I would appreciate a cloudevent dependency with only a minimal set of classes/interfaces required for the 1.0 version. The `c

[2020-06-04 21:24] doru1004 opened #169 "Format is null"
I am using the latest version and when I do this:

[code]

format is null.

How can I fix this?

[2020-06-05 07:48] slinkydeveloper commented on #169
`application/json` is not a cloudevent format. The format is resolved by its content-type, in the case of json event format `application/cloudevents+json` as explained https://github.com/cloudevents/spec/blob/v1.0/json-format.md#3-envelope

[2020-06-05 07:54] slinkydeveloper commented on #168
Hi @johanhaleby, we're actually working on a new version of the sdk that will be composed by:

* cloudevents-api: 0 deps, only interfaces
* cloudevents-core: 0 deps, only implementations of interfaces in cloudevents-api
* formats/*: implementations of event formats with various libraries (for now we have only jackson)
* http/*: implementations of http protocol bindings
* cloudevents-kafka: impleme

[2020-06-05 14:12] doru1004 commented on #169
Regardless of which format I use, the result is the same, format is null.

[code]

[code]

[2020-06-05 14:43] slinkydeveloper commented on #169
Now jackson is not included anymore in the sdk, you need to bring it as additional dependency `cloudevents-json-jackson`: https://github.com/cloudevents/sdk-java/tree/master/formats/json-jackson

[2020-06-05 16:48] doru1004 commented on #169
That worked! Thanks a lot!

[2020-06-05 16:48] #169 closed

[2020-06-05 17:07] johanhaleby commented on #168
@slinkydeveloper Yes it sounds like it does. Thanks for your reply and for the great work :) Looking forward to the new version.

[2020-06-05 17:07] #168 closed

[2020-06-08 15:13] #70 closed

[2020-06-08 17:13] slinkydeveloper commented on #163
Fixed by #166

[2020-06-08 17:13] #163 closed

[2020-06-10 20:38] sparty02 opened #171 "Consider removing "get" prefixes on CloudEvent and other related interfaces"
Consider simply using the attribute names in the CloudEvent and CloudEventAttributes interfaces (others as appropriate).  Other parts of the ecosystem (Immutables, AutoValue, and now Java Records) have encouraged simply using the field name as the "getter" for these kinds of value types.

[code]

Going a step further, you could also consider changing the builders to remove some verbosity as well,

[2020-06-10 23:50] eamonnmcmanus commented on #33
Is there a planned release date for the 2.0.0 API? I'd like to use it to [add CloudEvents support](https://github.com/GoogleCloudPlatform/functions-framework-java/issues/37) to the GCP Functions Framework for Java. 1.3.0 doesn't have the same clean separation between API and implementation, so using it would imply pulling in a bunch of implementation dependencies, as well as requiring us to make a

[2020-06-11 12:45] slinkydeveloper commented on #33
Not yet, I hope as soon as we stabilize a bit the APIs we can release a milestone. Keep in touch :wink:

[2020-06-15 04:55] grant opened #172 "Release 2.0.0"
Hello team,
Do we know when a `2.0.0` release will be cut?

Looks like @slinkydeveloper said there is some work to do.
https://github.com/cloudevents/sdk-java/issues/33#issuecomment-642620220
Is there a list of issues needed to be fixed before releasing?

The last cut was a few months ago:
https://search.maven.org/artifact/io.cloudevents/cloudevents-api

Diff: https://github.com/cloudevents/sdk-ja

[2020-06-15 07:05] slinkydeveloper commented on #172
Hi Grant, there is a project explaning the issues todo/done https://github.com/cloudevents/sdk-java/projects/1

[2020-06-15 07:17] slinkydeveloper commented on #171
For what regards getters, I just tried locally and what I don't like is that it doesn't interop well with Kotlin. In Kotlin `get*` method are automatically translated in field accessors (in kotlin way), if you name it `specVersion()` the Kotlin compiler won't recognize it automatically (https://kotlinlang.org/docs/reference/java-interop.html#getters-and-setters)

For the setters in `CloudEventBuil

[2020-06-15 08:27] slinkydeveloper commented on #171
I would love to hear input from other users, since this is a quite important discussion

[2020-06-15 08:38] pierDipi commented on #171
+1 for this proposal, in particular, the usage of the CloudEventBuilder is too verbose with all those `with*`.

[2020-06-15 08:40] bsideup commented on #171
+ the same issue (field-like access) will also happen with Groovy.

IMO the current approach (`getX`) is good enough and idiomatic. It also helps to distinguish get/set semantics when the method references are used (`event::getId`).

[2020-06-15 13:54] markfisher commented on #171
Regarding the getX methods, I agree with @slinkydeveloper and @bsideup: getters on the interface are idiomatic (and relied upon for frameworks/tools).

While "withX" is also fairly idiomatic for Java builders, I think it would be ok to make those more concise since - at least so far - the only other prefixed operation is a _static_ "fromX". If there were more/other prefixed operations, the "with"

[2020-06-15 16:46] grant commented on #172
Thanks for the project, didn't see that before.

[2020-06-16 15:20] slinkydeveloper opened #174 "Set up Automatic Module Name in different modules"
Set up the MANIFEST with `Automatic-Module-Name` in order to make JPMS work properly (avoiding wrong name inference).

My proposal for the module names:

* `cloudevents-api` -> `io.cloudevents.api`
* `cloudevents-core` -> `io.cloudevents.core`
* `cloudevents-kafka` -> `io.cloudevents.kafka`
* `cloudevents-json-jackson` -> `io.cloudevents.formats.jackson`
* `cloudevents-http-vertx` -> `io.cloudeven

[2020-06-17 19:37] matejvasek opened #175 "Sub-second resolution for `time` attribute."
Deserialization  crashes when message contains time with fractional seconds, e.g. 2018-04-26T14:48:09.1234Z.

[2020-06-18 14:59] #175 closed

[2020-06-18 18:06] slinkydeveloper commented on #172
@grant can we close it since it's a duplicate of the GH project?

[2020-06-18 18:39] grant commented on #172
@slinkydeveloper I mean... which issue can I follow to check the completion of the GH project? Is there a different issue tracking publishing to Maven Central? Usually a project and issues are separate.

[2020-06-18 18:47] slinkydeveloper commented on #172
Maybe if you follow the repo you follow the project updates? Or maybe there is a button to follow the project updates? I don't know :man_shrugging:...
Anyway, I hope to do soon a first milestone release (hopefully next week) and i'll announce it on slack, so you won't lose it :wink:

[2020-06-18 20:19] #172 closed

[2020-06-22 07:43] pierDipi commented on #125
I can work on `"An example using http with vertx"`.

[2020-06-22 14:29] #174 closed

[2020-06-25 12:36] #124 closed

[2020-06-25 13:55] slinkydeveloper opened #190 "Release automation"
Create a release automation that on every new release on github UI:

* Performs a dump of the release using the release version prompted on GH using `mvn versions:set -DnewVersion={newVersion}`
* Updates all the `*.md` containing the release version
* Commits straight on master the above changes
* Wait for CI to perform the release
* Performs a dump of the release back to `2.x.x-SNAPSHOT`
* Commit

[2020-07-09 08:10] slinkydeveloper commented on #109
Can we close this now?

[2020-07-13 06:24] johanhaleby opened #196 "How to best deal with conversions/seralization to other formats that byte[]?"
I'm experimenting with using cloudevents as the storage format for an [event sourcing](https://martinfowler.com/eaaDev/EventSourcing.html) library I'm building (you can find the project [here](https://github.com/johanhaleby/occurrent)). However when I upgraded to `io.cloudevents:cloudevents-json-jackson:2.0.0-milestone1` from `1.3.0` I noticed that the "data" field is no longer generic but is now

[2020-07-13 14:26] slinkydeveloper commented on #196
Hi @johanhaleby , i think in this issue there are two separate concerns:

1. The fact that `CloudEvent#getData` (and same on builder side) is a `byte[]` only interface. The change from 1.x to 2.x was made to remove jackson from "core" module, but i'm looking for a strategy to allow support storing pojos in `data` field of the event and, with some pluggable mechanism, solve data marshaller/unmarsha

[2020-07-13 17:20] johanhaleby commented on #196
Sounds hopeful that you're thinking of a strategy to support pojos. Because even if `EventFormat` always returns `byte[]` (which is fair) it would not be possible to use the `api` if you want to avoid double encoding of the _body_ my case (even if I write a custom `CloudEvent` to `Document` marshaller (1). For example if a user of my API has a simple pojo like this:

[code]

or even

[code]

Becau

[2020-07-13 17:28] johanhaleby opened #197 "Consider making the constructor of CloudEventSerializer and CloudEventDeserializer public"
When creating a custom marshaller/unmarhaller that returns something other than `byte[]` if would be helpful to make use of the already existing `CloudEventSerializer` and `CloudEventDeserializer` from `cloudevents-json-jackson`. But currently the constructors in these two classes are `protected` which makes it look a bit awkward since you have to instantiate them like this:

[code]

For reference

[2020-07-14 06:57] slinkydeveloper commented on #197
@johanhaleby How about using directly `JsonFormat#getJacksonModule`?

[2020-07-14 07:19] johanhaleby commented on #197
That would probably work, missed that :) Thank you!

[2020-07-14 07:19] #197 closed

[2020-07-14 08:58] slinkydeveloper commented on #196
@johanhaleby mind giving a look here? https://github.com/cloudevents/sdk-java/pull/198

[2020-07-15 09:23] cmoulliard commented on #142
For Spring, then we should add a new module within this SDK implementing `Spring Web`- https://github.com/spring-projects/spring-framework/tree/master/spring-web

[2020-07-15 09:30] cmoulliard commented on #125
Having such `examples` or `HowTo` guides will help the developers/architects to figure out what finally they could design using CloudEvents, Java SDK.

[2020-07-15 11:59] slinkydeveloper commented on #142
@cmoulliard are you willing to give a try to it? :smile:

[2020-07-15 12:09] bsideup commented on #142
@slinkydeveloper I would highly recommend to contact the Spring team before proceeding, to ensure that what you're doing here is aligned with what will be the official CloudEvents support in Spring.

[2020-07-15 14:52] cmoulliard commented on #142
Where such official CloudEvents vision is defined and communicated for the spring users/developers ? @bsideup

[2020-07-15 15:06] olegz commented on #142
@cmoulliard at the moment it is not very clear as to what does _Spring support_ even mean, since Spring portfolio consists of many projects. As for _communication_ . .  as an example, we have request in [spring-cloud-function](https://github.com/spring-cloud/spring-cloud-function/issues/422) to add Cloud Events support which most likely be a simply translation layer between Spring [Message](https:

[2020-07-15 15:13] cmoulliard commented on #142
I used the word `vision` and not `support` at all ;-) @olegz

[2020-07-15 15:14] slinkydeveloper commented on #142
Is there any reason why we can't have this integration inside this community project (similar to how we've done for kafka, jax-rs and vertx)? It sounds a pretty lightweight integration that can live under some `cloudevents-spring` module or similar

[2020-07-15 15:15] olegz commented on #142
@cmoulliard i was referring to the "quoted text" - `what will be the official CloudEvents support in Spring.`

[2020-07-16 06:32] johanhaleby opened #199 "Add support for making changes to a CloudEvent instance"
I have a use case in which I'd like to add an extension to an existing CloudEvent. This is actually quite difficult, in my case, it looks like this currently:

[code]

Which is very verbose (and only supports spec version 1).

It would be nice if it was be possible to "change" properties of a cloud event. But when I say "change" I want to emphasize  that I don't mean a mutable change but rather so

[2020-07-16 06:55] slinkydeveloper commented on #199
Hi @johanhaleby, we decided in past to keep the `CloudEvent` interface immutable, but you don't need to copy manually the fields from one event to the builder. You can use these copy builders: https://github.com/cloudevents/sdk-java/blob/master/core/src/main/java/io/cloudevents/core/builder/CloudEventBuilder.java#L180 Is that what you need?

[2020-07-16 07:03] johanhaleby commented on #199
@slinkydeveloper Oh I've completed missed that method! That's great!

Thanks for the pointer and sorry for the fuss :)

[2020-07-16 07:03] #199 closed

[2020-07-16 08:12] slinkydeveloper commented on #199
Don't worry! :wink:

[2020-07-16 21:55] zhxnlai opened #200 "Serialize ZonedDateTime to RFC3339 instead of ISO-8601"
### Problem

According to the [spec for JSON event format](https://github.com/cloudevents/spec/blob/v1.0/json-format.md#22-type-system-mapping), timestamp should be mapped to the RFC3339 format.

However, in the Java SDK, CloudEvent V1 models the `time` attribute using ZonedDateTime, which follows the ISO-8601 standard and gets mapped to ISO-8601 by jackson.

I recently ran into an edge case where

[2020-07-20 10:17] salaboy commented on #142
@cmoulliard @slinkydeveloper I've just created a PR with some Spring Boot (Web and WebFlux) Helpers -> https://github.com/cloudevents/sdk-java/pull/201
I will be happy to send that to Spring Boot / Spring Cloud -> @spencergibb @cmoulliard @olegz any idea where?

[2020-07-20 11:08] olegz commented on #142
As it was suggested by Dave [earlier](https://github.com/cloudevents/sdk-java/issues/142#issuecomment-620570544), there are many types of abstractions in spring representing different types of readers and writers specific to the context of current execution etc. And then of course there are many projects where CloudEvents may be relevant, so I am not sure how feasible it is to manage all of them i

[2020-07-20 11:14] salaboy commented on #142
@olegz that makes a lot of sense to me .. I've provide a simple helper to get people started.. we can change the implementation to use Spring Message underneath later. I want to make sure that we unblock spring users to start using Cloud Events asap.. Do you think that is worth using Spring Message even for these simple helpers?

[2020-07-20 12:03] olegz commented on #142
@salaboy I understand what you're trying to do and unfortunately I don't have a clear answer at the moment. That is perhaps the reason for Dave's earlier comment about simply "ensuring stable API":

May be it is better to to let individual spring projects to handle it. As I mentioned before we have an open issue in [spring-cloud-function](https://github.com/spring-cloud/spring-cloud-function/issue

[2020-07-23 08:41] cmoulliard commented on #142
Such `MessageConverter implementation` should not be tied to the function project as Cloud Events will be used from web, webflux applications too

[2020-07-23 13:02] rstoyanchev commented on #142
Looking at PR #201, this is not an idiomatic way to integrate. I would suggest implementing an `HttpMessageConverter<CloudEvent>` instead and then it becomes:
[code]

Or:
[code]

For WebFlux, it would be a pair of `Encoder<CloudEvent>` and `Decoder<CloudEvent>` implementations that would allow the same server side signature and and this with WebClient:

[code]

[2020-07-23 15:54] olegz commented on #142
@cmoulliard
The role function project plays in the context of this thread is only as the origin of the issue to support CloudEvents in Spring.
The `MessageConverter` approach is in no way tied to function or any other Spring project and rather a general purpose solution to provide ability to turn `CloudEvent` into Spring `Message` and vice versa. And of course as @rstoyanchev  suggested the `HttpM

[2020-07-26 12:39] johanhaleby commented on #200
I also just ran into the same issue.

[2020-08-03 16:14] slinkydeveloper commented on #200
Can you look at https://github.com/cloudevents/sdk-java/pull/202? That should do it

[2020-08-10 14:10] #200 closed

[2020-08-10 14:16] pierDipi opened #204 "Support Vert.x 4"
Vert.x 4 has been [released](https://github.com/eclipse-vertx/vert.x/releases).
It would be great if the [HTTP integration with Vert.x](https://github.com/cloudevents/sdk-java/tree/master/http/vertx) uses the new version.

[2020-08-11 09:40] slinkydeveloper opened #207 "Consider replacing byte[] in getData() with ByteBuffer"
`ByteBuffer`s gives a great deal of flexibility (they can be allocated in and off heap). If allocated outside the heap, they give a huge perf boost and, if allocated in the heap, they have more or less the same cost of a `byte[]`.

Replacing `byte[]` will require changing the `MessageReader` and `MessageWriter` interfaces too, together with all the impls

[2020-08-12 05:45] grant opened #210 "doc: v1 readme link broken"
The link "v1 readme" in the main README is broken.

https://github.com/cloudevents/sdk-java#status

[2020-08-18 00:57] eamonnmcmanus opened #212 "Much harder with V2 than V1 to send binary CloudEvents"
I might be missing something, but it seems to me that it has become much harder to send binary CloudEvents with the V2 SDK, unless you happen to be using one of the small number of supported HTTP clients. In V1, I could write this:

[code]

Then I basically just needed to copy `wire.getHeaders()` into the HTTP headers of the request and have `wire.getPayload().get()` be the HTTP body. That's easy

[2020-08-18 12:22] olegz commented on #212
This is yet another argument for why we should not be pursuing #198, #208 and #211 where we attempt to assume things we don't really know anything about. This is all about separation of concerns. `CloudEvent` represents an instance of itself, but it has to be transmitted over many mediums. . . some may be well known and some may be fully custom, so yes, having a canonical-ready-to-ship representat

[2020-08-20 07:11] pwall-tyro opened #214 "Switch `ZonedDateTime` to `OffsetDateTime`"
The cloudevents spec clearly [says](https://github.com/cloudevents/spec/blob/v1.0/spec.md#time) that the `time` attribute "MUST adhere to the format specified in [RFC 3339](https://tools.ietf.org/html/rfc3339)".  The `java.time.xxx` class that corresponds to RFC 3339 is `OffsetDateTime`.

`ZonedDateTime` adds a time zone identifier (in the form of region/city) to the end of the string on serializa

[2020-08-24 17:03] johanhaleby opened #215 "Make it easier/more obvious to remove extensions from a cloud event"
I'm looking for a way to remove an extension from a CloudEvent. Something like this:

[code]

or remove just a single extension property:

[code]

I actually don't know how to do this now. Here's an actual example from my project:

[code]

I've written a utility that's supposed to remove the extension:

[code]

But this test fails:

[code]

but this test fails:

[code]

[2020-08-31 08:11] slinkydeveloper commented on #212
I think this is trivial to implement, we can definitely have one in `cloudevents-core`. Although, that won't be optimized for the specific http libraries, eventually creating huge performance penalties b/c of memory copy (in particular, of the headers...).
Do you want to contribute it @eamonnmcmanus?

[2020-08-31 08:20] slinkydeveloper commented on #214
Hi @pwall-tyro, thanks for catching up this issue, mind doing a PR for it?

[2020-08-31 08:30] slinkydeveloper commented on #215
That's definitely weird, I'm going to investigate... Anyway, I would love to have some `removeExtension` method in the builder that takes the string key

[2020-08-31 08:35] #210 closed

[2020-08-31 09:17] bsideup commented on #212
FTR since headers are represented by Strings in _most_ frameworks, unless measured, I would not say that there are "huge performance penalties" due to them. @slinkydeveloper have you done some research on this? Maybe some benchmarks to share?

[2020-08-31 09:27] slinkydeveloper commented on #212
I didn't any particular research on the matter. The allocation you may incur are:

* The `Map<String, String>` itself
* The `String` header names: some frameworks/libraries may reallocate the header name string, depending on the internal representation (for example, vert.x does it and that's why we preallocate those strings)

Anyway, I think we can give it a shot, develop a benchmark and check the

[2020-08-31 09:33] bsideup commented on #212
There is no need to allocate a Map, as long as the names can be enumerated

One can easily "cache" the names (e.g. by using constants) and/or some sort of a cache. Given that the set is final and small, it should be fine.

[2020-08-31 09:35] slinkydeveloper commented on #212
As soon as you have extensions, you need to allocate it... Anyway, let's try to implement it and let's check the result :smile:

[2020-08-31 15:46] slinkydeveloper commented on #215
I wrote this simple test and it passes for me:

[code]

[2020-08-31 15:57] slinkydeveloper opened #219 "Merge CloudEventBuilder with CloudEventExtensionsWriter set extension methods"
Today `CloudEventBuilder` extends `CloudEventWriter` to easily use it in deserialization contexts. But there is an oddity in the interface, because they both have methods to set extensions (setExtension and withExtension). They behave exactly the same, they just have a different signature. We should merge them into a single signature that works for all

[2020-08-31 16:17] johanhaleby commented on #215
Yes, but if you use the equals method like I did in the test I provided it
will say that its doesn't match. Probably because the field is still there
but it's null. I want to remove the field altogether so that equals returns
true.

mån 31 aug. 2020 kl. 17:46 skrev Francesco Guardiani <
notifications@github.com>:

Sent from my phone

[2020-08-31 16:29] slinkydeveloper commented on #215
@johanhaleby You're right, my bad :)

[2020-09-01 08:10] #214 closed

[2020-09-01 08:10] #215 closed

[2020-09-01 08:18] #204 closed

[2020-09-01 09:35] #190 closed

[2020-09-01 10:06] slinkydeveloper opened #223 "Fix release process"
While releasing the 2.0.0-milestone2, we had a problem with travis. For some reason, it didn't built the 2 commits in the same pr when the rebasing was done. We should fix the process to perform one pr at time: one for release, one for going back to snapshots

[2020-09-01 11:43] slinkydeveloper commented on #137
Because now we use `OffsetDateTime`, this issue is not valid anymore (`OffsetDateTime` doesn't extend `ChronoZonedDateTime`). Check out the release docs https://github.com/cloudevents/sdk-java/releases/tag/2.0.0-milestone2 and the pr https://github.com/cloudevents/sdk-java/pull/216 for more info

[2020-09-01 11:43] #137 closed

[2020-09-01 11:43] slinkydeveloper commented on #109
I'm going to close it, reopen if you need it

[2020-09-01 11:43] #109 closed

[2020-09-01 11:44] matejvasek commented on #212
@eamonnmcmanus I tried to create generic http binding https://github.com/cloudevents/sdk-java/pull/225, please look at it.

[2020-09-01 12:42] matejvasek commented on #212
It the PR #225 I added generic Message(Reader|Writer) and factory methods to instantiate them + some convenience static methods:
[code]

[2020-09-04 07:25] slinkydeveloper commented on #125
#226 adds a sample with restful-ws + quarkus

[2020-09-08 17:20] slinkydeveloper opened #227 "Add editorconfig"
Add editorconfig and editorconfig maven plugin in order to keep the formatting consistent across the project

[2020-09-09 17:28] #212 closed

[2020-09-25 15:55] mnuttall opened #238 "CloudEvents with Avro payloads, on Kafka"
My team is looking at sending Avro-encoded cloud events over Kafka, often to or from Apache Camel-K. We’ve done some prototyping in which we’ve had to combine the Cloud Events Java SDK with the io.confluent.kafka Serde library. This leaves message receivers having to choose between the CloudEvent and Confluent deserializers since the former unpacks the headers nicely but produces an encoded payloa

[2020-09-28 06:58] #219 closed

[2020-09-28 07:18] slinkydeveloper commented on #238
I wonder if adding some "mapper" api like `CloudEvent#getData<T>(Function<Something, T>)` can at least ease the issue you're experiencing here.

[2020-09-28 07:19] slinkydeveloper commented on #238
This problem is kinda orthogonal to the one described in #198 but i see how we can find a solution to both problems at the same time

[2020-09-28 08:00] #227 closed

[2020-09-29 11:35] #223 closed

[2020-10-29 09:28] slinkydeveloper commented on #196
I think this is solved by #250. I'm working on the `JsonCloudEventData`, that could be a good starting point for your event format too

[2020-10-29 09:28] #196 closed

[2020-10-29 15:26] slinkydeveloper commented on #164
I'm gonna close it for the moment, if somebody is interested in this one, please reopen it

[2020-10-29 15:26] #164 closed

[2020-10-30 15:13] slinkydeveloper commented on #238
@mnuttall the new `CloudEventData` api should allow you to store your business object inside the `CloudEvent`. At this point, i think what we miss is the "wrapper"/"decorator" that can be invoked, starting from `io.cloudevents.kafka.CloudEventDeserializer`, to perform the deserialization of the payload

[2020-11-02 22:41] Alfusainey commented on #30
@slinkydeveloper I want to work on this issue. can I give it a go?

[2020-11-03 07:13] slinkydeveloper commented on #30
Sure, go ahead. Which amqp client are you planning to use? Do you want to use apache qpid jproton?

[2020-11-03 10:36] Alfusainey commented on #30
I am planning to use the [vertx-proton](https://github.com/vert-x3/vertx-proton) library to integrate  amqp 1.0 with vertx. This library is a wrapper around qpid proton-j

[code]

I see that different components in the project uses a different vertx version. Is there a reason for this?

How about defining a maven property for the vertx version (i.e `vertx.version`) in the parent POM and have all m

[2020-11-03 10:58] slinkydeveloper commented on #30
IMO we should integrate directly with jproton more than the vertx wrapper, because it might be useful for folks that needs amqp but doesn't want to use vertx.

Which components?

[2020-11-03 11:07] Alfusainey commented on #30
ok 👍

http/vertx uses `4.0.0.Beta1` while http/restful-ws uses `3.9.0

[2020-11-03 13:15] slinkydeveloper commented on #30
No issue then

[2020-11-09 08:37] #238 closed

[2020-11-09 08:39] slinkydeveloper commented on #171
It seems to me the majority agrees on keeping the existing names, If somebody else is interested in this topic then feel free to reopen the issue again

[2020-11-09 08:39] #171 closed

[2020-11-09 12:26] Alfusainey commented on #30
@slinkydeveloper If i understand correctly, the amqp protocol binding spec does not mandate the AMQP section to store CE extensions.

So the mapping can go either to the properties section of the message or to a different section chosen by the user. I am thinking of implementing this as follows:

1. Map all extensions to the application-properties section of the message. In this case, all attribut

[2020-11-09 13:01] slinkydeveloper commented on #30
I prefer the 1 as first pass, we can always generalize with the option 2 later

[2020-11-10 18:45] slinkydeveloper commented on #94
I think we can provide an interceptor that assigns the `partitionKey` and then serialization is done as usual by `CloudEventSerializer`. I'm working on it

[2020-11-11 11:30] slinkydeveloper opened #262 "Remove UnknownEncodingMessageReader and replace with exceptions"
* Remove `UnknownEncodingMessageReader` and, in `MessageUtils#parseStructuredOrBinaryMessage`, replace the unknownMessageFactory with a `CloudEventRWException`
* Removed `Encoding#UNKNOWN` variant since it won't be useful anymore

[2020-11-11 12:48] slinkydeveloper opened #264 "Documentation for 2.0"
This is an umbrella issue to cover all the things we need regarding documentation for 2.0:

* [x] Examples: #125
* [x] Enable javadoc failures when running `mvn verify` (mvn javadoc plugin) #275
* [x] Check missing javadoc, missing javadoc tags and internal and external links are working properly
    * [x] api #267
    * [x] core https://github.com/cloudevents/sdk-java/pull/313
    * [x] formats/j

[2020-11-11 13:35] slinkydeveloper commented on #264
I'm gonna start working on the technical details of the website

[2020-11-11 17:02] wong-git opened #266 "BaseCloudEvent#readExtensions does not support DatarefExtension"
Marked as general TODO, but it should handle `URI` since that is the type of the value for a `DatarefExtension`

[2020-11-11 17:39] slinkydeveloper commented on #207
Should we do it?

[2020-11-11 23:51] smadasu commented on #262
@slinkydeveloper TBH, I don't even see the need for this class at all. There is no functionality in the class except throwing exceptions for any method call. This class should be removed and CloudEventRWException should be thrown at the places where this is instantiated.

[2020-11-12 08:05] slinkydeveloper commented on #262
Makes sense, do you wish to contribute it @smadasu?

[2020-11-12 13:13] smadasu commented on #262
Sure @slinkydeveloper  . I will create a PR for this.

[2020-11-12 16:18] slinkydeveloper commented on #266
Sorry, are you proposing to handle `URI` as a type in `CloudEventAttributes`?

[2020-11-12 16:31] slinkydeveloper commented on #264
Checked javadocs for api module: https://github.com/cloudevents/sdk-java/pull/267

[2020-11-12 16:31] wong-git commented on #266
Not in `CloudEventAttributes` but in the existing `DatarefExtension`. This is an example of the code:
[code]
But this then results in `BaseCloudEvent#readExtensions` throwing `IllegalStateException` because the `DatarefExtension`s value is a `URI`.

Just to note, `DatarefExtension` supports conversion on deserializing by taking the `String` value in the Kafka headers and converting that to a `URI`

[2020-11-12 16:34] slinkydeveloper commented on #266
This definitely sounds like a bug, `DatarefExtension#getValue` should return only valid extension types (String, Boolean or Number). Can you provide a fix for it?

[2020-11-12 16:37] slinkydeveloper commented on #266
Explicited the return types in the javadoc too https://github.com/cloudevents/sdk-java/pull/267/commits/b68f58595aa50f2d9fdf6357ab15310c0282f161

[2020-11-12 16:50] slinkydeveloper opened #269 "Rename Extension to CloudEventExtension?"
To be consistent with the other interfaces `CloudEvent`, `CloudEventAttributes`, `CloudEventExtensions` and `CloudEventData`, should we rename `Extension` to `CloudEventExtension`? Or it might cause problems, given we already have `CloudEventExtensions`?

[2020-11-12 17:00] wong-git commented on #266
By "provide" I'm guessing you mean submit a PR for it. Will do.

[2020-11-13 08:53] #94 closed

[2020-11-13 09:05] slinkydeveloper opened #271 "CloudEventBuilder should fail when providing an invalid extension name"
The `CloudEventBuilder` should fail with the proper exception (look at `CloudEventRWException#newInvalidExtensionName`) if the user is trying to add an extension with a bad name (as specified here https://github.com/cloudevents/spec/blob/master/spec.md#attribute-naming-convention)

[2020-11-13 09:35] slinkydeveloper commented on #207
The problem with `ByteBuffer` is that there is a whole complexity involved when the buffer is file mapped and you need to literally "consume it" and load in memory, in a `byte[]` or in another ByteBuffer memory mapped. To me this sounds too low level for our users. WDYT?

[2020-11-13 09:37] slinkydeveloper commented on #38
I'm gonna close this, since it's related to the spec itself. When we have a proper protocol binding in our spec, we can reopen it and implement it here

[2020-11-13 09:37] #38 closed

[2020-11-13 09:38] slinkydeveloper commented on #33
Can we close this issue?

[2020-11-13 09:40] slinkydeveloper commented on #33
BTW we have an explanation of the CloudEvents spec versions an sdk should support https://github.com/cloudevents/spec/blob/master/SDK.md#contribution-acceptance

[2020-11-13 12:20] slinkydeveloper commented on #264
Run javadoc builds with mvn verify https://github.com/cloudevents/sdk-java/pull/275

[2020-11-13 17:31] Alfusainey opened #276 "Use CloudEventData in amqp binding"
Investigate whether the amqp binding based on proton can leverage the `CloudEventData` abstraction

see https://github.com/cloudevents/sdk-java/pull/270#discussion_r522871647

[2020-11-16 11:16] arghya88 commented on #271
@slinkydeveloper So `withExtension` need to be overridden like `withAttribute` in `CloudEventBuilder` to achieve this?

[2020-11-16 11:33] slinkydeveloper commented on #271
WDYM needs to be overriden? This issue is just about changing the impl of `CloudEventBuilder` to check the name of the extension: https://github.com/cloudevents/sdk-java/blob/master/core/src/main/java/io/cloudevents/core/impl/BaseCloudEventBuilder.java#L99

[2020-11-16 11:50] arghya88 commented on #271
My bad...Understood now
/assign

[2020-11-16 17:01] #30 closed

[2020-11-17 11:11] #271 closed

[2020-11-17 13:46] Alfusainey commented on #276
/assign

[2020-11-17 13:47] Alfusainey commented on #276
@slinkydeveloper can you assign this issue to me?

[2020-11-17 15:32] wkennedy opened #283 "NullPointerException deserializing structured event"
Found in 2.0.0-milestone4. When attempting to deserialize a cloud event consumed via a Kafka consumer.

Caused by: java.lang.NullPointerException: Cannot invoke "io.cloudevents.rw.CloudEventDataMapper.map(io.cloudevents.CloudEventData)" because "mapper" is null
	at io.cloudevents.jackson.JsonFormat.deserialize(JsonFormat.java:95)
	at io.cloudevents.core.message.MessageReader.lambda$toEvent$0(Messa

[2020-11-17 15:37] slinkydeveloper commented on #283
I guess it's a duplicate of https://github.com/cloudevents/sdk-java/pull/259, reopen if you need it

[2020-11-17 15:37] #283 closed

[2020-11-17 16:01] wkennedy commented on #283
Confirmed it's fixed in the latest snapshot.

[2020-11-17 16:14] slinkydeveloper commented on #283
Cool, we're going to release this soon

[2020-11-18 23:18] eamonnmcmanus opened #285 "Don't allow null `CloudEventDataMapper`"
I was starting to log an issue about a NullPointerException in Milestone 4 when I discovered that @matejvasek had already fixed it in #259. I'd like to suggest that other similar NPEs could be avoided if we didn't allow the mapper in [`MessageReader.toEvent(CloudEventDataMapper)`](https://www.javadoc.io/static/io.cloudevents/cloudevents-core/2.0.0-milestone4/io/cloudevents/core/message/MessageRead

[2020-11-19 07:25] slinkydeveloper commented on #285
@eamonnmcmanus do you want to propose a fix for it?

[2020-11-19 07:26] slinkydeveloper commented on #285
When `toEvent()` is called, maybe we could just provide a noop mapper down in the reader

[2020-11-19 08:15] slinkydeveloper commented on #285
@eamonnmcmanus wanna review this one? https://github.com/cloudevents/sdk-java/pull/286 thanks!

[2020-11-19 17:24] #285 closed

[2020-11-20 07:30] #266 closed

[2020-11-23 18:44] yeudit opened #297 "Deserialize cloud event mode STRUCTURE failed with JsonFormat"
I'm using CloudEventDeserializer with config:

[code]

when I'm calling cloudEventDeserializer.deserialize()
it failed with NullPointerException here: https://github.com/cloudevents/sdk-java/blob/master/formats/json-jackson/src/main/java/io/cloudevents/jackson/JsonFormat.java#L96

because there is no mapper config in the cloudEventDeserializer object.

I think the fix should be in this line: https

[2020-11-23 19:21] slinkydeveloper commented on #297
Duplicate of https://github.com/cloudevents/sdk-java/issues/285, this is fixed in the upcoming release

[2020-11-23 19:21] #297 closed

[2020-11-24 07:55] slinkydeveloper commented on #125
I'm gonna work on the readme that lists the various samples

[2020-11-24 11:27] jfisbein opened #301 "Problem serializing CloudEvent with jackson since milestone4"
Hi, I just updated to `cloudevents-core:2.0.0-milestone4` and `cloudevents-json-jackson:2.0.0-milestone4`, and when I try to serialize a CloudEvent object with Jackson I get the following error.
[code]

Error:
[code]

Looks it's related to the new BytesCloudEventData that does not have the getters and setters, or the annotations needed by jackson to serialize the object.

[2020-11-24 11:35] slinkydeveloper commented on #301
The `CloudEvent` interface/impls are not meant to work with jackson, you should use the `EventFormat` implementation to serialize `CloudEvent` to json, like described here: https://github.com/cloudevents/sdk-java/tree/master/formats/json-jackson#usage

Or, if you want to manually create your own object mapper, you can register directly the cloudevent module https://github.com/cloudevents/sdk-java/

[2020-11-24 12:19] jfisbein commented on #301
Ok, thanks I will use the cloudevent module. :-)

[2020-11-24 12:19] #301 closed

[2020-11-26 10:25] slinkydeveloper commented on #262
Solved by #277

[2020-11-26 10:25] #262 closed

[2020-11-26 13:09] slinkydeveloper opened #308 "Investigate using the Jackson streaming parser to improve perfs of jackson integration"
Pretty much like we did in sdk-go: https://github.com/cloudevents/sdk-go/issues/609

[2020-11-26 13:30] #125 closed

[2020-11-26 16:15] slinkydeveloper opened #311 "Decouple the Event Context from CloudEvent"
Although we have `CloudEventContext`, today user can't still interact only with `CloudEventContext`. This is particularly relevant in the discussions happening around the Spring support #302

Open questions:

* Should `io.cloudevents.rw` support reading/writing only a `CloudEventContext` without building the full `CloudEvent`?
* Should `CloudEventBuilder` have the context building abstracted away

[2020-11-27 12:28] slinkydeveloper commented on #264
Working on core module docs

[2020-12-10 09:25] slinkydeveloper commented on #264
Working on jackson

[2020-12-10 09:52] slinkydeveloper commented on #264
Working on all the http/* modules javadocs

[2020-12-10 10:13] slinkydeveloper commented on #264
Working on kafka javadocs

[2020-12-10 10:39] slinkydeveloper commented on #264
Working on amqp javadocs

[2020-12-10 10:48] slinkydeveloper commented on #264
Working on spring javadocs

[2020-12-10 14:08] slinkydeveloper commented on #264
Working on some basic pages for the website

[2020-12-11 05:54] wlaforest opened #326 "CloudEvent.toString() should not include null attributes"
I have only checked io.cloudevents.core.v1.CloudEventV1 but rather than concatenation null values for optional attributes they should be omitted.  I am open to fixing this and doing a pull request if this is preferred.. potentially its already fixed in a branch?  Thank you everyone for the work.

[2020-12-11 06:10] subanasif commented on #115
@slinkydeveloper: I do have implementation of EventFormat interface for avro. However, the implementation class has a setter method for Avro schema since this not defined in EventFormat interface.

[2020-12-11 07:41] slinkydeveloper commented on #115
Which schema?

[2020-12-11 07:44] slinkydeveloper commented on #326
Hi, you can go ahead and open a PR for it, thanks for spotting it!

[2020-12-11 07:46] subanasif commented on #115
This is avro schema. That is `org.apache.avro.Schema`.
This could be coming from filesystem or remote repository like schema registry.

[2020-12-11 07:54] slinkydeveloper commented on #115
avro schema of what? of cloudevent? The one from the spec https://github.com/cloudevents/spec/blob/v1.0/spec.avsc?

[2020-12-11 07:57] subanasif commented on #115
Thats correct. It *.avsc schema

[2020-12-11 08:10] subanasif commented on #115
The schema at https://github.com/cloudevents/spec/blob/v1.0/spec.avsc is just a spec, whereas real schema would have much more details (in `data` part, with specific field definitions).
Hence loading statically as resource won't work. More often, these spec compliant schemas are stored at third-party registries.

[2020-12-11 08:41] slinkydeveloper commented on #115
TBH I'm not an expert of avro, so I can't tell. What I can say is that it sounds weird to me to mutate the internal state of `EventFormat` in order to provide a custom schema... I think you should check out this PR where they're working on improving the schema https://github.com/cloudevents/spec/pull/613

[2020-12-11 09:46] #264 closed

[2020-12-11 10:20] #142 closed

[2020-12-11 10:21] boblee0717 opened #330 "io.cloudevents.rw.CloudEventRWException: Invalid specversion: 0.2"
I got this exception: io.cloudevents.rw.CloudEventRWException: Invalid specversion: 0.2

Is there a way to workaround this?

`2020-12-11 18:05:08.521 CST - io.cloudevents.rw.CloudEventRWException: Invalid specversion: 0.22020-12-11 18:05:08.522 CST -
2020-12-11 18:05:08.522 CST - 	at io.cloudevents.rw.CloudEventRWException.newInvalidSpecVersion(CloudEventRWException.java:91)
	at io.cloudevents.Spe

[2020-12-11 10:22] slinkydeveloper commented on #330
This is expected, the sdk v2 doesn't support cloudevents spec 0.1 and 0.2. It supports only 0.3 and 1.0 (as majority of cloudevents sdks today)

[2020-12-11 10:24] boblee0717 commented on #330
Thanks for your answer. However, the event producer can not change the version immediately, is there any way to workaround this?

[2020-12-11 11:07] slinkydeveloper commented on #330
I don't think there is a workaround with the sdk v2, not sure if sdk v1 supports it... Note that 0.2 is EOL for all sdks, so i guess you should focus on updating the event producer asap. Or you can develop a service using older sdks (like sdk-go) to translate events to newer version.

[2020-12-11 11:45] boblee0717 commented on #330
@slinkydeveloper Thanks for your reply, I am considering to upgrade the spec version from 0.2 to 1.0.

[2020-12-11 11:51] yuce commented on #115
@subanasif https://github.com/cloudevents/spec/blob/v1.0/spec.avsc is compiled into Java code before shipping, so dynamically loading it is not necessary (although possible). That Avro spec is used by other CE client, so I don't think it can be changed unless compatibility with CE 1.0 is desired.

[2020-12-11 13:22] slinkydeveloper commented on #330
I think you can check out the differences here: https://github.com/cloudevents/spec/releases

Can we close this issue?

[2020-12-14 02:45] #330 closed

[2020-12-15 16:10] tqvarnst opened #332 "Quarkus example - nondeterministic behaviour of the startup method"
In Quarkus Arc the behaviour for when the CDI StartupEvent are sent have changed between 1.7 and 1.10 (unclear to me in which version).

This causes the quarkus rest example to fail on 1.10 since the startup method is executed before the rest endpoint is started. It would be safer to use the quarkus-scheduler like this.

[code]

[2020-12-16 06:12] zhouxinyu opened #334 "The spring-reactive example doesn't follow the http-protocol-binding spec"
In the spring-reactive example, it shows the data in "structured" format:

[code]

While in the http-protocol-binding spec, it shows the structured mode:

[code]

The example adds the prefix `ce-` to all cloudevents filed except `data`, is it just a documentation error?

[2020-12-16 08:35] slinkydeveloper commented on #334
I think it's just documentation error, in the tests https://github.com/cloudevents/sdk-java/blob/master/spring/src/test/java/io/cloudevents/spring/webflux/WebFluxRestControllerTests.java#L93 it's a correct structured mode. But can you try to test it?

[2020-12-16 10:36] #332 closed

[2020-12-24 23:20] Alfusainey opened #335 "MQTT protocol binding"
A container issue to implement the [MQTT protocol binding](https://github.com/cloudevents/spec/blob/v1.0.1/mqtt-protocol-binding.md) for cloud events

[2020-12-24 23:52] Alfusainey commented on #335
@slinkydeveloper @matzew How about starting this off by implementing the MQTT binding using the [Eclipse Paho](https://github.com/eclipse/paho.mqtt.java) MQTT client library?  The reason is that the spec distinguishes between the two mqtt protocol versions and having a client library that supports both MQTTv3 and MQTTv5 will be a good start.

My preference was to start with `vertx-mqtt` (its a pop

[2020-12-24 23:52] Alfusainey commented on #335
/assign

[2021-01-07 08:58] slinkydeveloper commented on #335
@Alfusainey Feel free to go ahead with paho mqtt

[2021-01-13 11:06] renyijiu opened #336 "Valid data filed according to dataschema field"
Hello, thanks the great job of the project. I hava a question when i try to use the sdk.

If i set the dataschema field and then set the data field, will it valid the data field according the schema defined in dataschema field when i send the event through the sdk?

[2021-01-13 11:32] pierDipi commented on #336
No, it won't validate the data field.

[2021-01-13 11:41] renyijiu commented on #336
Ok, thanks for the quick response. Any planning to support it? i don't know others may have the same needs

[2021-01-13 11:53] slinkydeveloper commented on #336
I think that's outside the scope of the project, for a multitude of reasons:

* data schema can contain any kind of schema (json schema, xsd, etc), so i guess we'll need to support a range of them. This also requires a validator abstraction, which is already available in a large number of java projects out there.
* depending on the validator implementation, you eventually need to convert the input

[2021-01-13 12:16] pierDipi commented on #336
If the community wants to build an integration, there shouldn't be a problem linking it in the docs (I guess) as long as it is open source and licensed under a compatible license.

[2021-01-13 15:24] renyijiu commented on #336
Thanks for the detailed explanation. Mandatory verification does have certain shortcomings according to your explanation.

My starting point is when we create kinds of events, it will help others to understand data struct and process the data if we can get data structure through the dataschema. And if we can valid the data when send event so we can make sure the data struct always right.

[2021-01-20 22:58] 2020testuser opened #337 "Different Formats"
Hi,
I'm using CloudEvents Java SDK. I'm getting the avro messages from Kafka in CloudEvent format. Since, avro is not supported in CloudEvents- sdk-java, could anyone please let me know how I can convert avro message to json and read them when I have the payload(body) in avro format.

Appreciate if anyone can provide more details on this. Thanks!

[2021-01-21 07:38] slinkydeveloper commented on #337
In order to read the Cloudevent as Avro message, you need an Avro EventFormat, which at the moment doesn't exist. I close this as it's a duplicate of #115

[2021-01-21 07:38] #337 closed

[2021-01-21 16:16] 2020testuser opened #338 "Formatting"
Hi,
Could anyone please help me?
I'm using CloudEvent and getting my avro data in byte[] format.
What is the best approach to convery my avro byte[] in json format?
I see CloudEvent sdk-java doesn't support avro and so wondering what options I have?

Thanks in advance!

[2021-01-21 19:27] 2020testuser commented on #337
@slinkydeveloper - Thanks! So, how can I get the data in byte array format and use it for further processing? Could you please shed some light of this? Thanks!

[2021-01-22 07:47] slinkydeveloper commented on #338
Do you mean that the `data` field of the cloudevent contains avro, so the payload is avro? Or you mean that the full event is encoded as avro, per spec https://github.com/cloudevents/spec/blob/v1.0.1/avro-format.md

[2021-01-24 23:50] pdebuitlear commented on #115
I'm not sure that's what is being suggested.
@subanasif you mentioned you had an implementation, any chance you could share it for some more context?

[2021-01-27 09:26] slinkydeveloper commented on #336
I think your use case is very valid, but I believe an abstraction of it doesn't really fit inside this project. For the reasons above explained, I mark this issue as wontfix, let me know any additional thoughts.

[2021-01-27 09:36] #33 closed

[2021-01-27 12:26] renyijiu commented on #336
Ok, thanks, i will close the issue and just left the result of discussion let other people with the same needs find the document.

[2021-01-27 12:26] #336 closed

[2021-01-28 16:11] dansiviter opened #340 "Jakarta JSON-B Support"
In addition to Jackson, support for `jakarta.json.bind:jakarta.json.bind-api:^2`.

[2021-01-28 16:32] slinkydeveloper commented on #340
This is interesting, do you want to work on this?

[2021-01-28 16:45] dansiviter commented on #340
Yea, I'm happy to contribute.

[2021-01-29 19:34] 2020testuser commented on #338
@slinkydeveloper - Very sorry for the delay. I have the data field as avro in cloudevent.
Wondering what options I have. Thanks!

[2021-01-30 09:37] slinkydeveloper commented on #338
In that case, you need to manually get the bytes of the data with `getBytes()` and then manually invoke the avro deserializer

[2021-01-30 09:39] slinkydeveloper commented on #338
We might add at some point some deserializer similar to the one we have for jackson, but we need the avro module first, as discussed in #115

[2021-02-01 10:04] codebrewer opened #341 "Jackson CloudEventDeserializer causes NullPointerException when given JSON containing an invalid 'specversion' value"
### Actual Behaviour

This code:

[code]

gives:

[code]

### Expected Behaviour

An exception similar to this one that reports the missing mandatory `id` attribute:

[code]

### Impact

There's no guarantee that a client sending my Spring MVC REST controller `application/cloudevents+json` content will use a CloudEvents SDK to generate the request data, hence malformed content is possible. It woul

[2021-02-02 07:32] #269 closed

[2021-02-02 20:48] 2020testuser commented on #338
@slinkydeveloper - Thanks!

[2021-02-03 07:30] #341 closed

[2021-02-09 15:25] #338 closed

[2021-02-13 12:08] daviddenton opened #344 "Question: How to showcase support from http4k"
We've just added support for the CE spec in [http4k](https://http4k.org) and were wondering how we could feature this support in this SDK repo. The integration itself was pretty trivial - it was great that there wasn't much to do for us to integrate cleanly with your SDK and JSON format so sending and consuming CloudEvents is simple in a normal http4k app. You can see from the [example](https://ww

[2021-02-13 13:41] slinkydeveloper commented on #344
Hi! I'm happy to see the sdk used in http4k, I cannot wait to see more feedback coming in!

About showcasing it, how about adding a link of the docs you posted here to https://github.com/cloudevents/sdk-java#used-by and https://github.com/cloudevents/sdk-java#status and https://github.com/cloudevents/sdk-java/blob/master/docs/index.md#supported-features? I'm not sure an example in this repo is a g

[2021-02-13 17:03] daviddenton commented on #344
After some wrestling with markdown, [the PR](https://github.com/cloudevents/sdk-java/pull/345) is ready to go.

Thanks for your help @slinkydeveloper  😄

[2021-02-15 08:42] #344 closed

[2021-03-03 16:56] JemDay opened #351 "Support binary attributes (and Extensions)"
The cloud event specification allows for context attributes (and extensions) to have binary value - at present support for this type is not present in the CloudEvent Builder.

[2021-03-03 17:16] slinkydeveloper commented on #351
As a first step, I think you should start from adding the `setExtension`/`getExtension` with binary value in the api interfaces https://github.com/cloudevents/sdk-java/tree/master/api/src/main/java/io/cloudevents

[2021-03-11 17:29] JemDay opened #357 "Numeric attribute value handling.."
Numeric context attributes are not being handled in a spec-conforment manner; the CE specification only support "Integer" as a valid value type and requires other numeric values to be represented as String.

The json format [specification](https://github.com/cloudevents/spec/blob/v1.0.1/json-format.md#2-attributes) further clarifies the expected behavior.

I've verified the error using the followi

[2021-03-15 13:36] GaryLeiGM opened #359 "Why is the header prefix of the Spring module and the Kafka module inconsistent"
The Header prefix in the Spring module is ce-, but the prefix in the kafka module is ce_, so that the Spring module cannot consume the messages produced by the kafka module

[2021-03-15 15:45] JemDay commented on #359
The Kafka Protocol binding [specification](https://github.com/cloudevents/spec/blob/v1.0.1/kafka-protocol-binding.md#32-binary-content-mode) *does* state that attributes are prefixed with `ce_` in binary mode.

Sounds like a potential bug in the Spring module...

[2021-03-16 17:41] slinkydeveloper commented on #359
@dsyer is this a bug?

[2021-03-16 17:45] dsyer commented on #359
Missing feature maybe.

[2021-03-16 17:46] slinkydeveloper commented on #359
Can you tackle it? :smile:

[2021-03-16 18:24] dsyer commented on #359
Yeah, sure. I was meaning to do a Kafka sample anyway.

[2021-03-17 22:23] JemDay opened #360 "JSON Format - Behavior when non spec-compliant"
What should the behavior of the JSON Format be when it receives a JSON document that is not spec-compliant, eg receives a context attribute (or extension) that is a 'Number' but not an 'Integer'.

Options :
- Ignore,
- translate to a 'String'

Raised as a result of Issue #358

[2021-03-18 11:23] slinkydeveloper commented on #360
I think by default the conversion should fail, IMO it's the expected behaviour. Maybe, in future, we could have a _less strict_ mode where we translate to `String`?

[2021-03-24 15:58] #357 closed

[2021-03-25 15:32] #351 closed

[2021-03-25 23:11] JemDay opened #361 "Handling of unsupported Content-Types"
Occurs for JAX-RS, probably affects other protocols..

When payload is received that claims to contain structured content (eg is has an application/cloudevent+xxx content-type) that doesn't match one of the registered formats an attempt is made to look at the headers to  see if the content is a binary cloud event.

This causes issues in situations if the producer sends a structured format that the

[2021-03-26 08:55] #361 closed

[2021-04-01 18:39] pierDipi opened #365 "CloudEvents attribute names SHOULD NOT exceed 20 chars"
As per spec [1], is a _SHOULD NOT_ and not a _MUST NOT_.

[1] https://github.com/cloudevents/spec/blob/master/spec.md#attribute-naming-conventionthis

https://github.com/cloudevents/sdk-java/blob/e2b13109e4a0939174effcbd4204fd7c7cf5de29/core/src/main/java/io/cloudevents/core/impl/BaseCloudEventBuilder.java#L201-L203

[2021-04-01 18:39] pierDipi commented on #365
I'm working on it.

[2021-04-06 19:34] #365 closed

[2021-04-06 19:34] pierDipi commented on #365
https://github.com/cloudevents/sdk-java/pull/366

[2021-04-16 13:44] shnplr opened #369 "Use structured format for Kafka SampleProducer"
The `examples/kafka/src/main/java/io/cloudevents/examples/kafka/SampleProducer.java` indicates a structured event but delivers a binary event.

[code]

Should this be Encoding.STRUCTURED?

[2021-04-16 14:40] shnplr opened #370 "Invalid Kafka Binary event when content-type not provided"
The Kafka spec states in section 3: `If the content-type header is not present then the receiver uses structured mode with the JSON event format.`

Since the SDK allows a binary message with `data` to be generated without providing `dataContentType`, the assumption here is that consumers MUST assume this is a Structured event (even though its not).

Question
1. Should the spec be amended to allow

[2021-04-16 20:10] ricardozanini opened #371 "Should we consider ce-datacontenttype header when no Content-Type HTTP header is informed?"
Hi!

Just a quick question. I see that we are considering the [HTTP header `Content-type`](https://github.com/cloudevents/sdk-java/blob/master/http/restful-ws/src/main/java/io/cloudevents/http/restful/ws/impl/CloudEventsHeaders.java#L30-L32)as the `ce-datacontenttype` attribute. It's a good thing, but I came up with certain scenarios where the message comes without the `Content-type` header, but o

[2021-04-18 09:48] pdebuitlear commented on #115
any update on this issue?

[2021-04-19 07:42] slinkydeveloper commented on #371
@ricardozanini the messages you're receiving are technically wrong per spec: https://github.com/cloudevents/spec/blob/v1.0.1/http-protocol-binding.md#311-http-content-type

[2021-04-19 07:48] slinkydeveloper commented on #369
Yep this is either a bad comment or bad code, are you willing to provide the fix?

[2021-04-19 07:53] slinkydeveloper commented on #370
TBH I don't recall this particular sentence, but looking at it, it seems to me there are two conflicting sentences https://github.com/cloudevents/spec/blob/v1.0.1/kafka-protocol-binding.md#3-kafka-message-mapping:

And then:

I'm gonna open an issue in the spec repo

[2021-04-19 08:08] shnplr commented on #370
I assume in the first paragraph, the key sentence is "If the header is present..."
But I agree the wording could be improved to avoid any suggested contradiction.

[2021-04-19 09:08] slinkydeveloper commented on #370
@shnplr I've opened an issue https://github.com/cloudevents/spec/issues/812 and proposed 2 solutions, feel free to provide your input there.

[2021-04-22 13:50] ricardozanini commented on #371
@slinkydeveloper, I know. Actually, the Knative Broker is sending messages like this. When I push an `application/json+cloudevents` message to it, the Broker broadcasts the message to my Triggers without the `Content-type` header. The CE SDK is then serializing the message using `BINARY` format, messing with my application.

I'm about to open an issue there as well as soon as I have the time to wo

[2021-04-22 14:08] slinkydeveloper commented on #371
That sounds like a different problem, which may be related to the sdk. Is there any chance you can share the full http envelope you're receiving in the sdk? http headers + body

[2021-04-22 20:41] ricardozanini commented on #371
I don't think it's related to this SDK. I understand that the Knative Broker is not forwarding the `content-type` correctly when the message is a `cloudevents+json`. Although it is correctly parsing the CE. I put this gist together with a reproducer:
https://gist.github.com/ricardozanini/9d0652194db6738245fa4fcc566b543e

I think I'll open an issue for the Knative Eventing folks :)

[2021-04-23 06:41] johanhaleby opened #373 "Add support for removing "data" and "datacontenttype" from CloudEventBuilder"
Hi!

I want to duplicate a CloudEvent but remove its "data" and "datacontenttype". I've tried to do:

[code]

But this fails with:

[code]

Now I need to clone the `originalCloudEvent` manually which is suboptimal. I'd like methods similar to `withoutExtension` but for "data" and "datacontenttype". WDYT?

[2021-04-23 07:01] slinkydeveloper commented on #373
:+1: for adding it, would you mind doing a PR? :smile:

[2021-04-23 07:56] johanhaleby commented on #373
@slinkydeveloper I'm trying to create a PR but I'm confused. If I just clone the project and create my branch from master then I can find the `CloudEventBuilder` interface. But if I follow the instructions in https://github.com/cloudevents/sdk-java/blob/master/pr_guidelines.md the `CloudEventBuilder` interface seems to be removed? And I cannot find the `withoutExtension` method anywhere.

[2021-04-23 08:09] slinkydeveloper commented on #373
@johanhaleby are you sure you're not cloning the 1.x branch?

[2021-04-23 11:14] johanhaleby commented on #373
@slinkydeveloper Could be, but I'm following the instructions in  https://github.com/cloudevents/sdk-java/blob/master/pr_guidelines.md :) But let me try again.

[2021-04-23 11:32] johanhaleby commented on #373
@slinkydeveloper I removed my previous git repo and now I think it works :) https://github.com/cloudevents/sdk-java/pull/374

[2021-04-23 11:59] #373 closed

[2021-04-27 08:49] Antauri opened #375 "Publishing the CloudEvents-Protobuf artifact to Maven Central?"
Morning guys and great work,

Is it possible to publish the CloudEvents Protobuf artifact, part of the sdk-java to Maven Central?
It seems it's not there https://mvnrepository.com/artifact/io.cloudevents

I know it's a new module/code, only a week old but we immediately jumped on the idea of CE over Protobuf as envelope (plus an Smile/MsgPack/Protobuf or some other form of binary "data") and we wa

[2021-04-27 09:38] slinkydeveloper commented on #375
Yep, this is going to be released as soon as 2.4 is going to be released

[2021-04-27 11:11] Antauri commented on #375
Awesome. Just so we're aware, when is 2.1 estimated?

[2021-04-27 11:43] Antauri commented on #308
Is this part of 2.0 GA that's been already released?

[2021-04-27 13:13] slinkydeveloper commented on #308
Nope this is still not implemented, wanna try to give a look at it?

[2021-04-27 13:15] slinkydeveloper commented on #375
There is no estimate. I'm going to do a triage of opened issues and PRs soon and then figure out if we're in a good shape to release

[2021-04-28 12:57] slinkydeveloper commented on #334
cc @dsyer

[2021-04-28 13:15] #326 closed

[2021-04-28 13:46] slinkydeveloper commented on #375
Here you go https://github.com/cloudevents/sdk-java/releases/tag/2.1.0. Thanks again for your contribution!

[2021-04-28 13:46] #375 closed

[2021-04-28 13:47] slinkydeveloper commented on #360
Is there something to do here @JemDay?

[2021-04-28 15:23] dsyer commented on #334
The example is wrong. The tests in the sample project verify that the behaviour is correct, I think. I'm happy for someone else to fix it and verify.

[2021-04-28 15:42] dsyer commented on #334
Hasn't it already been fixed though?

[2021-04-28 18:46] JemDay commented on #360
I forgot about this one ... I believe the other PR does cover the numeric use-cases .. but I'm not sure I checked any of the other variants..

[2021-04-28 19:36] slinkydeveloper commented on #360
Ok, since this one seems specific to the integer/number problem, I'm going to close it. Feel free to reopen if you need it.

As a rule of thumb, because I think this is a _reference implementation_ of the spec, I think we should reject when receiving invalid events, more than attempting to fix/fit them. Given that, nothing prevents us in the future to design a more _permissive_ parsing mode, altho

[2021-04-28 19:36] #360 closed

[2021-04-29 07:50] slinkydeveloper commented on #334
Yep, just checked, we're good now. Thanks for double checking!

[2021-04-29 07:50] #334 closed

[2021-05-03 07:40] #369 closed

[2021-05-04 16:20] MB1211 opened #388 "Extension Naming Validation"
Using JsonFormat, I am getting exceptions thrown for any extension name that is not strictly alphanumeric. I don't think this issue is necessarily specific to JsonFormat though

The spec states "CloudEvents attribute names MUST consist of lower-case letters ('a' to 'z') or digits ('0' to '9') from the ASCII character set. Attribute names SHOULD be descriptive and terse and SHOULD NOT exceed 20 cha

[2021-05-04 16:22] slinkydeveloper commented on #388
Hi, this was fixed in 2.1 version of the sdk https://github.com/cloudevents/sdk-java/pull/366

[2021-05-04 16:22] #388 closed

[2021-05-04 16:32] MB1211 commented on #388
This is a similar issue but it is not the same. The referenced PR only addresses the validation of the length as being SHOULD NOT and not MUST NOT. This issue is about the validity of the characters. Please reopen

[2021-05-04 18:24] MB1211 opened #389 "Extension Naming Validation Bug"
This is NOT fixed by #366 but is very similar and is further evidence that this is a valid bug. This issue has nothing to do with the length of the extension name - it needs to address the valid characters that make up the extension name. Currently it only allows lowercase letters (a-z) and numbers (0-9). Extension names need to allow at the very least '-' and '_'

Using JsonFormat, I am getting e

[2021-05-04 20:53] MB1211 commented on #389
#271 is more relevant.
Is there any room for interpretation here? Could someone weight in on why the decision to only allow a-z and 0-9 was made? It seems excessively restrictive, but maybe there's a good reason?

[2021-05-05 07:58] slinkydeveloper commented on #389
Sorry for closing the previous issue, I misunderstood it, my bad!

What you're saying about **MUST** and **MUST ONLY** may be right, but I'm pretty sure the intention of that spec sentence is to strictly limit the characters used to name a spec field.

I think this was discussed quite some times on the spec repo, e.g. https://github.com/cloudevents/spec/issues/265. Maybe @duglin can give you more

[2021-05-05 14:50] MB1211 commented on #389
No problem, thanks for the link to that discussion.
The reason we were running into this is we had some teams using version 1.2.0, and since this allowed -'s in the extension names, they ended up putting -'s in their extension names. We are adding a new project which consumes a kafka topic, and the message body is these cloud events (which are I suppose not technically cloud events because of the

[2021-05-06 10:40] slinkydeveloper commented on #389
I recall a while ago I discussed about having some "less strict" parsing mode, where the parser can "guess", or better "correct" the incoming event, but TBH I never worked through it, IMO is also quite outside the scope of this project at the moment, given our goal is to provide a reference implementation. Such mode is very complicated to design, and needs to take in account a wide variety of "pro

[2021-05-26 06:28] pierDipi commented on #389
The goal of Cloudevents is to make systems interoperable; a less strict parsing mode goes against that goal because we start sending and receiving events that are not Cloudevents.

[2021-05-31 12:30] slinkydeveloper commented on #370
The conflicting sentence was removed from the spec: https://github.com/slinkydeveloper/spec/commit/c023f5c93d5f9ec2a6d8f45c123b280ef6ec2332

I'm going to close this issue because I think it's solved now, reopen if you need it.

[2021-05-31 12:30] #370 closed

[2021-06-03 11:13] tammyzhang123 opened #395 "provide a solution for object serialization and deserialization (for kafka)"
Can you provide a best practice solution for object serialization and deserialization (for kafka)?
When I use the io.cloudevents.examples.kafka.SampleProducer provided on Git to produce data to Kafka, the error "CloudEventSerializer supports only the signature serialize(String, Headers, CloudEvent)" will appear. Same goes for deserialization.

[2021-06-04 07:39] slinkydeveloper commented on #395
That's strange, can you provide more details/stacktrace? That error shouldn't happen...

[2021-06-04 07:47] tammyzhang123 commented on #395
When I run this class (io.cloudevents.examples.kafka.SampleConsumer)，  the following error appears:
Exception in thread "main" org.apache.kafka.common.errors.SerializationException: Error deserializing key/value for partition CloudEventTopic-0 at offset 80. If needed, please seek past the record to continue consumption.
Caused by: java.lang.UnsupportedOperationException: CloudEventDeserializer sup

[2021-06-04 08:02] slinkydeveloper commented on #395
Which version of kafka are you using?

[2021-06-04 08:14] tammyzhang123 commented on #395
The version of kafka I use is 2.2.0, what is the latest version of Kafka supported by cloudevents?

[2021-06-04 08:17] slinkydeveloper commented on #395
Whatever version of kafka that supports header should work fine... So you sent messages to kafka using SampleProducer, right?

[2021-06-04 08:20] tammyzhang123 commented on #395
yes, i sent messages to kafka using SampleProducer

[2021-06-07 07:34] slinkydeveloper commented on #395
Just tried myself and I wasn't able to reproduce the issue... Can you check that the records inside kafka contains the content type header?

You can do it with [kafkacat](https://github.com/edenhill/kafkacat):

[code]

[2021-06-07 07:36] slinkydeveloper commented on #371
I think from this side, nothing else can be done, so I'm going to close this issue, reopen if you need it.

[2021-06-07 07:37] #371 closed

[2021-06-07 07:49] tammyzhang123 commented on #395
First and foremost, I can't run the SampleProducer program. Because the program reports an error: java.lang.UnsupportedOperationException: CloudEventSerializer supports only the signature serialize(String, Headers, CloudEvent), the meaasge can't be written to kafka,i am so confused.

[2021-06-07 08:05] slinkydeveloper commented on #395
TBH I'm confused too, I thought the problem was the consumer... I tried both the examples myself and everything works fine, I need more info from you in order to help you.

[2021-06-07 08:12] tammyzhang123 commented on #395
Could you send me a copy of your code demo?  I want to see what is the difference between the two. My mail address is：tammy03272021@163.com

[2021-06-07 09:42] #395 closed

[2021-06-07 10:02] slinkydeveloper commented on #395
@tammyzhang123 I just cloned the latest master and run it, following the readme...

[2021-06-08 02:03] tammyzhang123 commented on #395
OK， i'll try it

[2021-06-10 13:26] jeanabraham commented on #301
@slinkydeveloper

I am running into the same issue when trying to return the CloudEvent object wrapped inside another Pojo. Do you happen to know how I can work around this? I already have `<artifactId>cloudevents-json-jackson</artifactId>` in pom.xml. Thanks!

[code]

[code]

Error:
[code]

[2021-06-10 13:49] slinkydeveloper commented on #301
@jeanabraham did you registered the Serializer/Deserializer impl into your jackson object mapper? https://github.com/cloudevents/sdk-java/blob/master/formats/json-jackson/src/main/java/io/cloudevents/jackson/JsonFormat.java#L128

[2021-06-21 15:31] sumitbaurai opened #401 "Could not parse. Unknown encoding. Invalid content type or spec version"
Hi,

I am trying to parse events published by Kafka. These events are audit events, that are published by Kafka Brokers in case of for example, an  authentication attempt.

Here are the details of the event:

Header contains :

`content-type : application/cloudevents+json`

Value Contains:

[code]

When I try to deserialize this message in a Kafka Consumer, using CloudEventDeserializer.class

`pro

[2021-06-22 08:15] slinkydeveloper commented on #401
Do you have cloudevents-json-jackson in your classpath? https://cloudevents.github.io/sdk-java/json-jackson.html

This is an invalid extension key, attribute name must be all lowercase chars. Although, I don't think this is the reason for that exception

[2021-06-23 07:27] sumitbaurai commented on #401
Hi, No change after adding the cloudevents-json-jackson dependency. Still running into the same issue.

[code]

[2021-06-23 12:28] slinkydeveloper commented on #401
Are you using the latest 2.2 version of the sdk?

[2021-06-23 14:26] sumitbaurai commented on #401
yes..thats the version i use

[2021-06-24 10:01] slinkydeveloper commented on #401
Can you try to debug the `EventFormatProvider` and see if the `JsonFormat` is loaded inside it? From the stacktrace, the error seems to be that you don't have the `JsonFormat` loaded properly...

[2021-06-25 08:47] nvervelle opened #404 "Provide a Bill of Materials for easier integration in projects"
It would be nice to have BOM artifact for cloudevents to provide easier dependency management for projects using cloudevents (like [this](https://github.com/aws/aws-sdk-java-v2/tree/master/bom)).

I'm going to submit a PR for this one.

[2021-06-28 07:30] #404 closed

[2021-06-28 19:17] alsonlu commented on #115
Is there any update on if/when this will be released?

[2021-06-29 08:36] slinkydeveloper commented on #115
This is just waiting for a contribution to come :smile:

[2021-07-16 06:25] sunng87 commented on #115
Just let you know I have been working on an avro serde impl these days.

[2021-07-17 00:49] eddumelendez opened #408 "Add spring-boot module with autoconfigurations"
Hi, I have been thinking about providing a new module for spring boot which offers some auto-configurations. For now, those would be for mvc, webflux and rsocket. But, in the future could be kafka and amqp as well.

I have a simple draft [here](https://github.com/eddumelendez/sdk-java/tree/spring-boot)

I have a couple of questions:

1. Do you see this feasible?
2. Should provide a starter for web

[2021-08-05 20:29] jon-whit opened #409 "Serializing CloudEvent Envelope to JSON"
I'm trying to get a serialized JSON string representing the CloudEvent. Here's my code snippet:

[code]

I get an output of `[B@501edcf1` not a JSON string. What am I doing wrong?

[2021-08-05 20:53] powturns commented on #359
Any further progress on this? It seems like it's not super straight-forward if it's desirable to only have `ce_` for a kafka binder, and retain `ce-` for other binders.

[2021-08-05 23:41] JemDay commented on #359
That’s the way the protocol binding is species… Kafka uses ce_ whereas HTTP uses ce-

Jem...

[2021-08-06 07:54] pierDipi commented on #409
`serialize(event)` returns a `byte[]`, so this should work:
[code]

[2021-08-06 08:14] pierDipi commented on #408
Hi @dsyer, can you please take a look at this issue?

[2021-08-06 08:22] dsyer commented on #408
It’s a natural next step. I’m on vacation until Aug 16, but I’ll connect with Eddu when I get back if you like. I would assume that his suggestions would all make sense.

[2021-08-06 14:43] JemDay commented on #359
That’ll teach me to respond to on my iPhone and not spell check…

IPad originated

[2021-08-06 19:46] #409 closed

[2021-08-11 20:20] sparty02 opened #412 "JMS support"
Would you be open to adding a jms module that supports a MessageReader and MessageWriter implementation that can read from and write to a javax.jms.Message object?  I wrote a prototype and it seems to be relatively straightforward.

[2021-08-19 16:52] srimadhavan opened #413 "NATS Java client for NATS sender, publisher, receiver and also for NATS JetStream integration"
I am working on to Integrate the Cloud Events with NATS Event Driven Architecture. I am seeing there is no JAVA client library for NATS and NATS JetStream. Please add the Java client for sender, receiver, publish and subscribe for NATS and NATS Jetstream from Cloud Event client.

[2021-08-31 10:33] bdshadow opened #416 "Why do sometimes headers start with "ce-" and sometimes with "ce_"?"
Why is there such a difference?
- For example in the docs for kafka it is an underscore: https://github.com/cloudevents/spec/blob/v1.0.1/kafka-protocol-binding.md#325-example
- At the same time it is a dash in the Spring module in this project.

It makes it so complicated to use cloudevents-spring together with cloudevents-kafka. Why is there such inconsistency?

[2021-09-07 20:33] pierDipi commented on #416
Related https://github.com/cloudevents/sdk-java/issues/359

[2021-09-20 14:29] vbkunin commented on #401
Adding cloudevents-json-jackson to classpath solved the problem for me.

[2021-09-22 11:03] salaboy opened #417 "Examples for Spring Reactive with WebClient would be nice to have"
@dsyer I was looking at the examples provided here: https://github.com/cloudevents/sdk-java/blob/master/examples/spring-reactive/src/test/java/io/cloudevents/examples/spring/DemoApplicationTests.java
And it will be great to have the test using WebClient instead of TestRestTemplate, I couldn't find any example showing how to send a CloudEvent (instead of returning a cloudevent) using WebClient whic

[2021-09-22 12:32] dsyer commented on #417
But `headers()` takes a `Consumer<HttpHeaders>` doesn't it? So you can do this I guess: `headers(headers -> headers.putAll(outgoing))`. Here's what I tried in the `DemoApplicationTests`:

[code]

[2021-09-27 07:53] salaboy commented on #417
@dsyer that works, it will be great to have that example in the test so people see how it can be done with WebClient

[2021-09-27 08:30] dsyer commented on #417
See #418

[2021-10-14 14:36] joke opened #420 "Spring WebFlux: LEAK: ByteBuf.release() was not called"
Hi,

the reactive implementations seems to have some memory leaks.
I would guess it's either `CloudEventHttpMessageWriter` or `CloudEventHttpMessageReader` but I'm not certain.

I build an example project with a very basic setup and the latest dependencies: [joke/cloud-event-leak](https://github.com/joke/cloud-event-leak). You can run the `CloudEventLeakApplicationTests` which basically fires off

[2021-10-15 09:01] joke commented on #420
The problem was a missing close on a stream `CloudEventHttpMessageReader`.

[2021-10-28 20:58] jamesward opened #422 "Structured Content Mode Not Working with Kafka CloudEventDeserializer"
By default the Knative `KafkaSink` sends messages in *structured* mode.  And my `CloudEventDeserializer` was failing to handle that form.  Switching the `KafkaSink` to *binary* worked.  But it'd be great if the `CloudEventDeserializer` also worked with the *structured* mode.

[2021-11-03 08:54] #420 closed

[2021-11-09 08:59] pierDipi commented on #422
cc @jamesward

[2021-11-09 09:01] pierDipi commented on #401
@sumitbaurai, are you still getting this error? Do suggested fixes solve your issue?

[2021-11-09 09:04] pierDipi commented on #311
This issue seems obsolete / not relevant anymore, closing.

[2021-11-09 09:04] #311 closed

[2021-11-09 09:05] pierDipi commented on #413
Contributions are welcome!

[2021-11-09 13:31] sumitbaurai commented on #401
Hi, Indeed including the jackson dependency resolves the deserialization issue.

[2021-11-09 13:31] #401 closed

[2021-11-14 18:19] jamesward commented on #422
Sorry for the delay. I'll work on a  sample that reproduces this.

[2021-11-17 15:27] pierDipi commented on #417
Does https://github.com/cloudevents/sdk-java/pull/418 close this issue?

[2021-11-17 16:04] dsyer commented on #417
I believe so.

[2021-11-17 16:07] #417 closed

[2021-11-28 05:30] ruanwenjun opened #425 "Why extension key should be lowercase chars"
Hi community, I find the extension key in cloudevents must be lowercase chars, cloudevents will check this.
I just have this question, since our system need to break this rule, so I want to ask why this design or can we avoid this?

[2021-11-30 13:47] matejvasek commented on #425
spec:

https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#attribute-naming-convention

[2021-12-02 11:18] ruanwenjun commented on #425
Thanks @matejvasek.

[2021-12-02 11:18] #425 closed

[2021-12-06 17:03] pierDipi opened #427 "Support JSON Batch Format"
The CE spec defines the [JSON Batch Format] and the Java SDK doesn't support it.

Our core interfaces are designed to work with only one CloudEvent and we shouldn't break them while adding support JSON Batch Format

[JSON Batch Format]: https://github.com/cloudevents/spec/blob/v1.0.1/json-format.md#4-json-batch-format

[2021-12-06 17:05] pierDipi commented on #389
I'm closing this issue, for now.
Please reopen if you want to discuss it more.

[2021-12-06 17:05] #389 closed

[2021-12-07 15:17] mhyeon-lee opened #428 "Ignore not valid extension key format in CloudEventDeserializer (jackson)"
CloudEventDeserializer by cloudevents-json-jackson throws an exception when an invalid extension key is included.
Since the extension attribute is not a required value, why don't CloudEventDeserializer ignore invalid attributes and run Deserialize?

I changed to ignore the invalid extensionName in CloudEventDeserializer.

[2021-12-10 09:26] #428 closed

[2021-12-10 11:06] JapuDCret opened #430 "Deserialization fails when subject is null"
## Description

In our project we have multiple services, where we also use different implementations of the CloudEvents standard.

We now have a problem, where a service uses `cloudevents-json-jackson` and gets a valid CloudEvent, but which does have the field `subject` set to null. Then the service fails to deserialize this event (see error log).

If I understand the CloudEvents format correctly

[2021-12-21 09:13] pierDipi commented on #430
Hi @JapuDCret, thanks for reporting!

[2021-12-21 09:57] pierDipi commented on #430
Fix https://github.com/cloudevents/sdk-java/pull/432, review welcome!

[2021-12-21 10:22] #430 closed

[2021-12-21 10:29] dorongold commented on #404
@slinkydeveloper is this BOM published?
I cannot find cloudevents-bom on [maven central repository](https://search.maven.org/).

[2021-12-21 10:37] nvervelle commented on #404
I think it's not published yet, it's in 2.3 which is not released yet...

[2021-12-21 13:23] pierDipi commented on #404
2.3.0 is out https://github.com/cloudevents/sdk-java/releases/tag/2.3.0!

Try it and let us know if it works!

[2021-12-21 15:42] nvervelle commented on #404
Seems to work, I only specify the version on the BOM :smile:

[2022-01-17 16:17] untereiner opened #442 "Micronaut module"
Hi, I am using the Micronaut framework and I have been thinking using CloudEvents between my microservices. Would it be interesting to provide a Micronaut module with the same spirit of the spring boot one to this sdk ?

[2022-01-27 20:58] JemDay opened #443 "Protobuf Format: Incomplete media type detection"
The protobuf format uses a test on the `content-type` to detect if the business data is "text" :

`type.startsWith("text/") || "application/json".equals(type) || "application/xml".equals(type)`

This will not correct detect other dialects, eg `application/foobar+json`

[2022-01-31 09:18] #443 closed

[2022-02-24 04:02] JemDay opened #446 "XML Format Support"
This is a placeholder to add support for the XML Format that is currently in the process of being formalized in the CE working group.

I am in the process of building an initial implementation as the format specification evolves as a way to validate the specification

[2022-02-28 11:03] lszymik commented on #442
Hello,
I was also trying to use CloudEvents with Micronaut. It is not working out of the box.
It will be very valuable to have integration.

[2022-03-16 09:09] 595972434 opened #449 "Flink support"
Hi do we have a plan to support using this SDK in Flink?  It seems that the `CloudEvent` class can not be serialized in Flink.

[2022-03-16 09:25] pierDipi commented on #449
Hi, I'm not that familiar with Flink and I would be happy to see what is required to support Flink.

cc @slinkydeveloper

[2022-03-16 09:58] slinkydeveloper commented on #449
Hi,
the question is whether do you expect the Flink support to look like. What are you trying to do? Which Flink API are you using (DataStream, Table) ?

[2022-03-20 02:25] 595972434 commented on #449
@slinkydeveloper  Thanks for your reply. We are trying to add cloudevent attribute to the record in Flink. For now, we plan to use Table in kafka sink(If it does not work, using DataStream is fine). When I try to use sdk-java in flink(in DataStream), the main problem is that `CloudEvent` can't be serialized.
Do you have any suggestions for that? thanks

[2022-03-21 08:27] slinkydeveloper commented on #449
Flink DataStream can accept a `SerializationSchema`/`DeserializationSchema` for reading//writing records to external systems. You should adapt those interfaces to the format you want to use (e.g. JSON), so Flink can send it to your kafka topic. One alternative is to directly use the kafka ser/de provided by this library, setting it up from the flink kafka connector options

[2022-03-22 05:48] 595972434 commented on #449
Hi @slinkydeveloper , I have followd [flink document](https://nightlies.apache.org/flink/flink-docs-release-1.12/dev/connectors/kafka.html#the-serializationschema) to implement `KafkaSerializationSchema` interface and reused the   `CloudEventSerializer` to serialize CloudEvent to bytes array.  I can send Kafka record in this way but can't add any headers.
- I think I have added all the headers whe

[2022-03-22 08:47] slinkydeveloper commented on #449
@595972434 you don't need to use header, you can write the cloudevent to kafka as structured, look here: https://github.com/cloudevents/sdk-java/blob/master/kafka/src/main/java/io/cloudevents/kafka/CloudEventSerializer.java#L90

[2022-03-22 09:02] 595972434 commented on #449
@slinkydeveloper  Do you mean putting the CloudEvent attribute in the kafka value body(Structured model)?  We prefer to use binary-model since we do not need to change our previous kafka record avro schema?

[2022-03-22 09:07] slinkydeveloper commented on #449
yes

Then isn't this enough? https://github.com/cloudevents/sdk-java/blob/master/kafka/src/main/java/io/cloudevents/kafka/CloudEventSerializer.java#L93

You create the header map manually, and then pass through the new `ProducerRecord`:

[code]

Is this what you're looking for?

[2022-03-22 09:17] 595972434 commented on #449
@slinkydeveloper  Yeah that is what I want.  I found that `KafkaSerializerMessageWriterImpl` will extract header attributes defined in CloudEvent and set them to the header variable.  My final code looks like this
[code]
Thank you very much for your help! 👍

[2022-03-22 10:10] pierDipi commented on #449
Thanks @slinkydeveloper! :)

[2022-03-22 10:10] #449 closed

[2022-03-24 07:38] wonsuc opened #452 "Any plan to support Ktor?"
Hi, I'm writing an application with the Ktor server framework.
Do you guys have any plan to support Ktor in the future?

[2022-04-01 12:00] duglin opened #453 "CLOMonitor Metadata"
See: https://clomonitor.io/projects/cloudevents/cloudevents
Can we get the appropriate updates so that the CLOMonitor tool is happy?
More info on CLOMonitor checks: https://github.com/cncf/clomonitor/blob/main/docs/checks.md

[2022-04-01 13:22] pierDipi commented on #452
We don't have plans to support Ktor.

are you finding difficulties in integrating Ktor with the SDK?

[2022-04-01 13:24] pierDipi commented on #442
Hello, I've never used Micronout, so I'm don't know if I can maintain the integration, however, I'd like to understand more about the integration with Micronout, does anyone of you have something to show? a public proof of concept?

[2022-04-01 13:27] pierDipi commented on #422
Hi @jamesward, are you still interested in showing a reproducer?

[2022-05-02 02:56] matejvasek commented on #452
@wonsuc doesn't at least generic HTTP adapter work?
Something like:
[code]
Only problem with it is that `ktor` doesn't like manually setting of `Content-Type` header, but that `ktor` issue.

[2022-05-26 21:19] plopp commented on #401
I was struggling with this error but only when running my spring application from a fat jar. Spring `bootRun` worked flawlessly, but `java -jar <...>` caused the error above. It was indeed that the `JsonFormat` was not registered with the `EventFormatProvider`. I had to do this to get it to work also when running the jar (non relevant code left out):

[code]

[2022-06-03 02:21] duglin opened #459 "Switch default branch to "main""
Per the June 2 call, the group decided to ask each repo in the CE org to switch from `master` to `main` as the default branch.

[2022-06-14 05:04] tehtea opened #460 "Cannot close a Kafka Producer / Consumer which uses CloudEvent Serialization"
Caused by https://github.com/cloudevents/sdk-java/blob/master/kafka/src/main/java/io/cloudevents/kafka/CloudEventSerializer.java and https://github.com/cloudevents/sdk-java/blob/master/kafka/src/main/java/io/cloudevents/kafka/CloudEventDeserializer.java not implementing the `close` method

Sample Stack Trace for closing a Producer:
[code]

Sample Stack Trace for closing a Consumer:
[code]

[2022-06-14 06:18] pierDipi commented on #460
Hi @tehtea, please specify how to reproduce because just by importing this integration it's definitely working

[2022-06-14 06:19] pierDipi commented on #453
Closing since it's green for sdk-java https://clomonitor.io/projects/cncf/cloudevents/cloudevents#sdk-java

[2022-06-14 06:19] #453 closed

[2022-07-14 16:04] sjaakd opened #465 "Extension of Quarkus example with structured content mode"
I like the Quarkus example.

However, it seems to use the [Binary Content Mode](https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/bindings/http-protocol-binding.md#31-binary-content-mode). I however require the [Structured Content Mode](https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/bindings/http-protocol-binding.md#32-structured-content-mode). Initially I did not even notic

[2022-07-18 07:20] pierDipi commented on #465
Hi @sjaakd, thanks for reporting!

I like the idea of extending the example on the client side to show how to produce both content modes, on the server side perhaps having an example server that can transparently consume both content modes would be the best option.

@matejvasek is there any way we can make a generic example for a quarkus server endpoint that works transparently for both binary and

[2022-07-18 18:51] matejvasek commented on #465
just add:

[code]

[2022-08-08 13:02] abutch3r opened #468 "Jakarta EE9 and onwards support for http-restful-ws package"
The current Jakarta http-restful-ws package uses the old `javax.*` namespace for the jax-rs packages that were replaced in Jakarta EE9 with `jakarta.*`. As such J EE9 and the upcoming EE10 are currently incompatible with the http-restful-ws package.

Both Resteasy and Jersey latest versions are JEE9 compatible, though Spring are planning Jee9 support 4Q2022, but for support for boot 3 and framewor

[2022-08-08 13:03] abutch3r commented on #468
To support JEE9 and 10 from reviewing the source code
https://github.com/cloudevents/sdk-java/blob/91251365307dcd11ffe8558cfb52397af3852a1b/http/restful-ws/pom.xml#L33
would need updating to a minimum of `3.0.0`

replace all `javax.*` imports with `jakarta.*` - Given obviously these changes would break the Jee8 support. would likely need to somehow differentiate between

[2022-08-09 11:57] zaza commented on #416
I noticed the same thing when using the [SDK for Python](https://github.com/cloudevents/sdk-python/) and io.cloudevents:cloudevents-kafka in Java. I agree with @bdshadow that this is unexpected.

[2022-08-23 10:12] henning-cg opened #470 "JSON content type detection not spec compliant"
The logic for detecting if the datacontenttype is JSON seems to be contrary to the current spec.

The spec states that:

but the code at https://github.com/cloudevents/sdk-java/blob/91251365307dcd11ffe8558cfb52397af3852a1b/formats/json-jackson/src/main/java/io/cloudevents/jackson/JsonFormat.java#L217 only checks for empty datacontenttype, application/json or text/json, and is not taking into accou

[2022-09-05 11:14] #470 closed

[2022-09-11 10:24] rvowles commented on #413
I'm working on this.

[2022-09-12 09:21] rvowles commented on #413
The bit thats taking the time is the header value encoding as per the spec here: https://github.com/cloudevents/spec/blob/main/cloudevents/bindings/nats-protocol-binding.md - its not URL encoding and its not anything standard and is going to require a fair degree of work.

[2022-09-23 11:28] fredoboulo opened #481 "2.4.0 breaks JSON Deserialization"
Hi,

We can't update io.cloudevents:cloudevents-json-jackson:2.3.0 to 2.4.0.

Our cloudEvents have a **datacontenttype** with value **application/json;charset=utf-8**, which leads to JSON deserialization error.
The [newly introduced Pattern in JsonFormat](https://github.com/cloudevents/sdk-java/blob/master/formats/json-jackson/src/main/java/io/cloudevents/jackson/JsonFormat.java#L50) does not take

[2022-09-23 12:14] pierDipi commented on #481
Hi @fredoboulo, thanks for reporting!

I think it makes sense what you're suggesting.

cc @JemDay @segator

[2022-09-27 07:16] #468 closed

[2022-09-27 17:34] duglin opened #482 "Switch away from deprecated method"
See: https://github.com/cloudevents/sdk-java/blob/b9eaa2fcaaf5569552e39ece4fce4a99064145e9/formats/json-jackson/src/main/java/io/cloudevents/jackson/CloudEventDeserializer.java#L121-L121
it appears to use `JsonCloudEventData` which is tagged as deprecated:
[code]

[2022-09-27 18:13] pierDipi commented on #481
@fredoboulo since nobody raised any concern so far, can you contribute this change to the SDK?

[2022-10-03 10:35] segator commented on #481
Sorry for the delay guys I were on vacations with limited access to mail.
@pierDipi  so the idea is to support in the regex attributes like the charset one

`foo/barr;attr1=value&attr2=value... `?

[2022-10-06 08:42] #481 closed

[2022-10-12 06:58] #482 closed

[2022-11-01 16:14] giriraj-hh opened #487 "Validation error due to specVersion instead of specversion in the event payload"
Versions:

[code]

Example payload:
`
{"data":{"value":"AN_EXAMPLE_JSON_PAYLOAD","id":"228ad7d1-dd16-4fd5-a02e-4b4bdcb7eaed","source":"service-test","type":"dummy.event","subject":null,"time":null,"specVersion":"V1","dataContentType":"application/cloudevents+json","dataSchema":null,"extensionNames":[],"attributeNames":["datacontenttype","specversion","id","source","type"]}`

Getting following erro

[2022-11-03 14:13] pierDipi commented on #487
Hi @giriraj-hh, is this fix something you can contribute?

[2022-11-08 19:47] duglin opened #488 "[security] Reliance on default encoding"
# Description
Multiple instances were identified in which the getByte() standard Java API is used without specifying any encoding. Doing so causes the Java SDK to rely on the system default encoding, which can differ across platforms and systems used by event actors and cause unexpected differences in processing of event data.
The specification states that appropriate and RFC-compliant encodings M

[2022-11-08 19:49] duglin opened #489 "[security] Outdated Vulnerable Dependencies"
# Description

Multiple outdated dependencies with publicly known vulnerabilities, including multiple high- and medium-risk vulnerabilities, were identified in the Java SDK. The open-source snyk tool was used to automatically audit each module. Due to time constraints and ease of remediation, exploitability of these issues within the context of the SDK was not manually reviewed.
A list of Java SDK

[2022-11-08 19:51] duglin commented on #489
This was opened due to the Trail of Bits security review

[2022-11-08 19:52] duglin commented on #488
This was opened due to the Trail of Bits security review